<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    All Users
</h3>
<!-- END PAGE HEADER-->

<uib-alert ng-repeat="alert in alerts"
           type="{{alert.type}}"
           close="closeAlert($index)"
           dismiss-on-timeout="2000">{{alert.msg}}
</uib-alert>

    <table class="table table-bordered table-responsive table-striped table-hover ">
        <thead>
            <tr class="heading">
                <th>User Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr id="row_{{$index}}" ng-repeat="user in users">
                <td> {{user.id}} </td>
                <td> {{user.name}} </td>
                <td> {{user.email}} </td>
                <td> {{user.mobile}} </td>
                <td> {{user.status}} </td>
                <td class="row">
                    <a href="javascript:" title="edit" class="btn default btn-xs purple">
                        <i class="fa fa-edit"></i> Edit
                    </a>
                    <a href="javascript:" title="delete" class="btn default btn-xs black">
                        <i class="fa fa-trash-o"></i> Delete
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
