<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    Add Item
    <small></small>
</h3>

<!-- ADD ITEM FORM BEGINS -->
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bubble font-dark"></i>
            <span class="caption-subject font-dark bold uppercase">ADD ITEM</span>
        </div>
        <div class="actions">
            <a class="btn dark btn-outline btn-circle btn-sm"data-ng-click="showAddItemDiv = false">All Items</a>
        </div>
    </div>
    <div loading show="loading"></div>
    <div class="portlet-body form" data-ng-if="!loading">
        <form role="form" name="itemForm" class="form-horizontal">
            <div class="form-body">
                <div class="form-group has-info">
                    <label class="col-md-3 control-label" for="item_name">Item name</label>

                    <div class="col-md-5">
                        <div class="input-icon right">
                            <input type="text" ng-model="itemDetails.name" placeholder="Item name"
                                   class="form-control" name="item_name" id="item_name">

                            <div class="form-control-focus">
                            </div>


                        </div>
                    </div>
                </div>
                <div class="form-group has-info">
                    <label class="col-md-3 control-label" for="item_number">Item number</label>

                    <div class="col-md-5">
                        <div class="input-icon right">
                            <input type="text" ng-model="itemDetails.item_number" placeholder="Item number"
                                   class="form-control" name="item_number" id="item_number">

                            <div class="form-control-focus">
                            </div>


                        </div>
                    </div>
                </div>
                <div class="form-group has-info">
                    <label class="col-md-3 control-label" for="maxlength_defaultconfig">Description</label>

                    <div class="col-md-5">
                        <div class="input-icon right">
                            <textarea class="form-control resize-only-vertical" maxlength="60" ng-model="itemDetails.description" placeholder="Item description"
                                      name="item_description" id="maxlength_defaultconfig" rows="2"></textarea>

                            <div class="form-control-focus">
                            </div>


                        </div>
                    </div>
                </div>
                <div class="form-group has-info">
                    <label class="col-md-3 control-label" for="item_price">Price</label>

                    <div class="col-md-5">
                        <div class="input-icon right">
                            <input type="number" min="0" ng-model="itemDetails.price" class="form-control"
                                   placeholder="Item price"
                                   name="item_price" id="item_price">

                            <div class="form-control-focus">
                            </div>


                        </div>
                    </div>
                </div>
                <div class="form-group has-info">
                    <label class="col-md-3 control-label" for="item_servesfor">Serves for</label>

                    <div class="col-md-5">
                        <div class="input-icon right">
                            <input type="text" ng-model="itemDetails.servesfor" class="form-control"
                                   placeholder="Item serves-for"
                                   name="item_servesfor" id="item_servesfor">

                            <div class="form-control-focus">
                            </div>


                        </div>
                    </div>
                </div>
                <div class="form-group has-info">
                    <label class="col-md-3 control-label" for="calories">Item calories</label>

                    <div class="col-md-5">
                        <div class="input-icon right">
                            <input type="text" ng-model="itemDetails.calories" class="form-control"
                                   placeholder="Item calories"
                                   name="calories" id="calories">

                            <div class="form-control-focus">
                            </div>


                        </div>
                    </div>
                </div>
                <div class="form-group has-info">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-5">
                        <div class="md-radio-inline">
                            <div class="md-radio">
                                <input type="radio" id="item_is_veg_yes" ng-model="itemDetails.is_veg"  value="Yes" name="radio2" class="md-radiobtn">
                                <label for="item_is_veg_yes">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    Veg </label>
                            </div>
                            <div class="md-radio has-error">
                                <input type="radio" id="item_is_veg_no" ng-model="itemDetails.is_veg" name="radio2" value="No" class="md-radiobtn">
                                <label for="item_is_veg_no">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    Non-Veg </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group has-info">
                    <!--  ng-options="siteNum as (siteNum | showSiteName) for siteNum in siteNums"-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="primary_cat">Category</label>
                        <div class="col-md-5">
                            <select name="primary_cat" id="primary_cat" class="form-control"
                                    ng-model="itemDetails.item_category_id"
                                    ng-options="category.id as category.name for category in allCategories ">
                                <option value="">Select...</option>
                            </select>
                            <div class="form-control-focus">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group has-info">
                    <!--  ng-options="siteNum as (siteNum | showSiteName) for siteNum in siteNums"-->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Tax group</label>
                        <div class="col-md-5">
                            <!--select name="tax_level" id="tax_level" class="form-control"
                                    ng-model="itemDetails.tax_level"
                                    ng-options="tax.taxName for tax in taxes">
                                <option value="">Select...</option>
                            </select>-->
                            <ui-select ng-model="itemDetails.taxgroup">
                                <ui-select-match placeholder="Click to add taxes...">{{itemDetails.taxgroup.name}}</ui-select-match>
                                <ui-select-choices repeat="tax in taxGroups | filter: $select.search">
                                    <div class="bold" ng-bind-html="tax.name"></div>
                                    <small>
                                        {{tax.description}}
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <!-- <div ng-if="itemDetails.primary_itemcategory_id === 9" class="form-group has-info">
                     <div ui-view="categories"></div>
                 </div>-->
            </div>

            <div class="form-actions margin-top-10">
                <div class="row">
                    <div class="col-md-offset-2 col-md-5">
                        <button type="button" class="btn default">Cancel</button>
                        <button type="button" class="btn blue" data-ng-click="isValidForm();addItem(itemDetails)">Submit
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- ADD ITEM FORM ENDS -->