<!-- BEGIN EXAMPLE TABLE PORTLET-->
<!--PAGE TITLE BEGIN-->
<!--<h3 class="page-title page-title-heading">
    <span class="">Dashboard</span>

</h3>-->
<!--PAGE TITLE END-->
<div class="portlet box">
    <div class="row">
        <div class="col-md-7">
            <!-- BEGIN PAGE HEADER-->
            <h4 class="page-title">
                Live orders
                <small></small>
            </h4>
            <div class="portlet light">

                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <a ui-sref="rest.main" class="btn green">
                                       <i class="fa fa-plus"></i> Add new order
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="btn-group pull-right">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Tools <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:">
                                                Export to Excel </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div loading show="loading"></div>
                    <div class="table-scrollable" data-ng-if="!loading">
                        <form role="form" ng-submit="search(searchOrder)">
                            <table class="table table-bordered table-responsive table-striped table-hover ">
                                <thead>
                                <tr class="heading">
                                    <th class="text-center">S.No.</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">R. no.</th>
                                    <th class="text-center">Amount</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="order in orders | itemsPerPage:ordersPerPage"
                                            total-items="totalOrders" current-page="pagination.current" >
                                            <td class="text-center first-letter-capital">{{((pagination.current-1)*10)+$index + 1}}</td>
                                            <td class="text-center first-letter-capital">{{order.customer_name}}</td>
                                            <td class="text-center first-letter-capital">{{order.rno}}</td>
                                            <td class="text-center">{{order.price}}</td>
                                            <td class="text-center first-letter-capital">
                                                <span style="color: white;padding: 5px;font-size: 13px;"
                                                      ng-class="{'status-1' : order.status === 1,
                                                                'status-2' : order.status === 2 || order.status === 3,
                                                                'status-4' : order.status === 4,
                                                                'status-5' : order.status === 5,
                                                                'status-6' : order.status === 6,
                                                                'status-7' : order.status === 7,
                                                                'status-8' : order.status === 8,
                                                                'status-9' : order.status === 9,
                                                                'status-10' : order.status === 10}">
                                                    {{order.status_text}}
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                <a ui-sref="admin.orderDetails({orderId : order.order_id})" class="btn btn-sm purple btn-default">
                                                    <i class="fa fa-eye"></i> View
                                                </a>
                                            </td>
                                        </tr>
                                </tbody>
                            </table>

                            <!-- BEGIN Paginator -->
                            <dir-pagination-controls
                                    on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                            <!-- END Paginator -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <!-- BEGIN PAGE HEADER-->
            <h4 class="page-title">
                Delivery boys
                <small></small>
            </h4>
            <div class="portlet light">

                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <input class="form-control" placeholder="Search Item Name..." ng-model="srch_item_name" />
                        </div>
                    </div>
                    <div loading show="loading"></div>
                    <div class="table-scrollable" data-ng-if="!loading">
                        <form role="form" ng-submit="search(searchOrder)">
                            <table class="table table-bordered table-responsive table-striped table-hover ">
                                <thead>
                                <tr class="heading">
                                    <th> S.No.</th>
                                    <th> Name</th>
                                    <th> Status</th>
                                    <th> Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr id="row_{{$index}}" dir-paginate="deliveryBoy in deliveryBoys |  itemsPerPage: ordersPerPage"
                                    total-items="totalOrders" current-page="pagination.current">
                                    <td>{{$index+1}}</td>
                                    <td> {{deliveryBoy.name}}</td>
                                    <td>
                                        <span>
                                            <input bs-switch
                                                   type="checkbox"
                                                   ng-model="deliveryBoy.status"
                                                   ng-change="categoryStatusChange(v.catData)"
                                                   switch-size="mini"
                                                   ng-true-value="1"
                                                   ng-false-value="0" />
                                        </span>
                                    </td>
                                    <td>
                                        <a ui-sref="rest.orders.detail({orderId : order.order_id})"
                                           class="btn default btn-xs purple">
                                            <i class="fa fa-eye"></i> View
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <!-- BEGIN Paginator -->
                            <dir-pagination-controls
                                    on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                            <!-- END Paginator -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
