<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">

    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a ui-sref="rest.main">
            <img src="images/header-logo.png" alt="logo" class="logo-default" />
        </a>
    </div>
    <!-- END LOGO -->

    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
    <!-- END RESPONSIVE MENU TOGGLER -->
</div>
<!-- END HEADER INNER -->