<!-- BEGIN HEADER -->
<div data-ng-include="'templates/shared/pages/header.html'" class="page-header navbar navbar-fixed-top">
</div>
<!-- END HEADER -->

<!-- BEGIN CONTAINER -->
<div class="page-container" style="clear:both">
</div>
<!-- END CONTAINER -->

<div style="background: #ffffff">
    <iframe ng-src="{{iframeSrc}}" frameborder="0" scrolling="no" height="1000px" width="100%"></iframe>
</div>