<!-- BEGIN PAGE HEADER-->
<h4 class="sub-page-title">
    Basic Info
    <small></small>
    <span class="actions pull-right margin-right-10">
        <span class="btn-group">
            <a ui-sref="admin.rest.profile.overview" class="btn green">
                <i class="fa fa-backward"></i> Overview
            </a>
        </span>
    </span>
</h4>

<!-- ADD ITEM FORM BEGINS -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">

            <!-- BASIC INFO TAB -->
            <div class="tab-pane active" id="entityBasicInfoTab">
                <form class="form-horizontal" role="form" id="updateBasiInfo" ng-submit="updateRestaurantBasicInfo(restaurantDetails)">
                    <div class="form-body">

                        <input type="hidden" name="id" ng-model="restaurantDetails.id">

                        <div class="form-group">
                            <label class="col-md-3 control-label">Name</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="name" ng-model="restaurantDetails.name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Address</label>
                            <div class="col-md-6">
                                <textarea class="form-control" name="add_line_1" ng-model="restaurantDetails.add_line_1"></textarea>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Landmark</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control"  name="landmark" ng-model="restaurantDetails.landmark">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Neighbourhood</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control"  name="neighbourhood" ng-model="restaurantDetails.neighbourhood">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Landline</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control"  name="landline" ng-model="restaurantDetails.landline">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Mobile No</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control"  name="mobile" ng-model="restaurantDetails.mobile" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Exotel No</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control"  name="exotelno" ng-model="restaurantDetails.exotelno" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Exotel Ext</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control"  name="exotelext" ng-model="restaurantDetails.exotelext" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Email Address</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-envelope"></i>
                                                        </span>
                                    <input type="email" class="form-control" name="email" ng-model="restaurantDetails.email">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Category</label>
                            <div class="col-md-6">
                                <div class="input-group">

                                    <label> <input type="checkbox" name="salon" ng-model="restaurantDetails.type_salon"> Salon </label><br>
                                    <label> <input type="checkbox" name="spa" ng-model="restaurantDetails.type_spa"> Spa </label><br>
                                    <label> <input type="checkbox" name="beauty" ng-model="restaurantDetails.type_saloonNspa"> Salon & Spa </label><br>
                                    <label> <input type="checkbox" name="tattoo" ng-model="restaurantDetails.type_tattoo"> Tattoo Studio </label><br>
                                    <label> <input type="checkbox" name="nail" ng-model="restaurantDetails.type_nail"> Nail Studio </label><br>
                                    <label> <input type="checkbox" name="barber" ng-model="restaurantDetails.type_barber"> Barber Shop </label><br>
                                    <label> <input type="checkbox" name="beauty" ng-model="restaurantDetails.type_beauty"> Beauty Parlour </label><br>

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Serves</label>
                            <div class="col-md-6">
                                <div class="input-group">

                                    <label> <input type="checkbox" name="male" ng-model="restaurantDetails.serves_male"> Male </label><br>
                                    <label> <input type="checkbox" name="female" ng-model="restaurantDetails.serves_female"> Female </label><br>
                                    <label> <input type="checkbox" name="unisex" ng-model="restaurantDetails.serves_unisex"> Unisex </label><br>
                                    <label> <input type="checkbox" name="kids" ng-model="restaurantDetails.serves_kids"> Kids </label><br>

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">service</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control"  name="service" ng-model="restaurantDetails.service">
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-7">
                                <button type="submit" class="btn green">Submit</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <!-- END BASIC INFO TAB -->
        </div>
    </div>
</div>