<div ng-if="showAddCategoryDiv">
    <h4 class="sub-page-title">
    Add Category
    <small></small>
    <span class="actions pull-right margin-right-10">
        <span class="btn-group">
                    <a class="btn green" data-ng-click="toggleAllAndAddCategory()">
                        <i class="fa fa-eye"></i> View all categories</a>
        </span>
    </span>
</h4>
    <!--<div data-ng-if="showCategoryAdded" ng-class="{'alert-success' : !inError,'alert-danger' : inError}" class="alert alert-dismissable">-->
        <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>-->
        <!--<strong data-ng-if="inError">Sorry!!</strong> <strong data-ng-if="!inError">Success!</strong> {{msg}}-->
    <!--</div>-->
    <uib-alert ng-repeat="alert in alerts"
               type="{{alert.type}}"
               close="closeAlert($index)"
               dismiss-on-timeout="3000">{{alert.msg}}
    </uib-alert>
    <div class="portlet light bordered">
        <div class="portlet-body form">
            <form role="form" class="form-horizontal">
                <div class="form-body">
                    <div class="form-group has-info">
                        <label class="col-md-3 control-label" for="category_name">Category name</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="category_name" placeholder="Category name"
                                   id="category_name" ng-model="categoryDetails.engName">
                        </div>
                        <div class="col-md-5">
                            <button type="button"  data-ng-if="!showPashtoCategoryNameField" ng-click="addCategoryInPashto()" class="btn dark btn-outline">
                                <i class="fa fa-plus-circle red" aria-hidden="true"></i><span> In pashto</span>
                            </button>
                            <button type="button"  data-ng-if="!showPersianCategoryNameField" ng-click="addCategoryInPersian()" class="btn dark btn-outline">
                                <i class="fa fa-plus-circle red"aria-hidden="true"></i><span> In persian</span>
                            </button>
                        </div>
                    </div>

                    <div class="form-group has-info"  data-ng-if="showPashtoCategoryNameField">
                        <label class="col-md-3 control-label" for="pashto_itemname">Category name</label>

                        <div class="col-md-5">
                            <div class="input-icon right">
                                <input class="form-control rtl-input" ng-model="categoryDetails.pashtoName" placeholder="Category name in pashto"
                                       name="pashtoitemname" id="pashto_itemname"/>

                                <div class="form-control-focus">
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="form-group has-info"  data-ng-if="showPersianCategoryNameField">
                        <label class="col-md-3 control-label" for="persian_itemname">Category name</label>

                        <div class="col-md-5">
                            <div class="input-icon right">
                                <input class="form-control rtl-input" ng-model="categoryDetails.persianName" placeholder="Category name in persian"
                                       name="pashtoitemname" id="persian_itemname"/>

                                <div class="form-control-focus">
                                </div>


                            </div>
                        </div>
                    </div>




                    <div class="form-group has-info">
                        <label class="col-md-3 control-label" for="category_description">Description</label>

                        <div class="col-md-4">
                            <div class="input-icon right">
                                <input type="text" ng-model="categoryDetails.engDesc" class="form-control"
                                       placeholder="Category description"
                                       name="category_description" id="category_description">
                                <div class="form-control-focus">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <button type="button"  data-ng-if="!showPashtoCategoryDescField" ng-click="addCategoryDescInPashto()" class="btn dark btn-outline">
                                <i class="fa fa-plus-circle red" aria-hidden="true"></i><span> In pashto</span>
                            </button>
                            <button type="button"  data-ng-if="!showPersianCategoryDescField" ng-click="addCategoryDescInPersian()" class="btn dark btn-outline">
                                <i class="fa fa-plus-circle red"aria-hidden="true"></i><span> In persian</span>
                            </button>
                        </div>

                    </div>

                    <div class="form-group has-info"  data-ng-if="showPashtoCategoryDescField">
                        <label class="col-md-3 control-label" for="pashto_categorydesc">Description (in pashto)</label>

                        <div class="col-md-5">
                            <div class="input-icon right">
                                <input class="form-control rtl-input" ng-model="categoryDetails.pashtoDesc" placeholder="Category desc in pashto"
                                       name="pashtocategorydesc" id="pashto_categorydesc"/>

                                <div class="form-control-focus">
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="form-group has-info"  data-ng-if="showPersianCategoryDescField">
                        <label class="col-md-3 control-label" for="persian_categorydesc">Description (In persian)</label>

                        <div class="col-md-5">
                            <div class="input-icon right">
                                <input class="form-control rtl-input" ng-model="categoryDetails.persianDesc" placeholder="Category desc in persian"
                                       name="pashtocategorydesc" id="persian_categorydesc"/>

                                <div class="form-control-focus">
                                </div>


                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-actions margin-top-10 right">
                    <button type="button" class="btn default">Cancel</button>
                    <button type="button" class="btn blue" data-ng-click="addCategory(categoryDetails)">
                        Save Category
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>



<div ng-if="!showAddCategoryDiv">
<h4 class="sub-page-title">
    Categories
    <small></small>
    <span class="actions pull-right margin-right-10">
        <span class="btn-group">
                    <a class="btn green" data-ng-click="toggleAllAndAddCategory()">
                        <i class="fa fa-plus"></i> Add new</a>
        </span>
    </span>
</h4>

    <uib-alert ng-repeat="alert in alerts"
               type="{{alert.type}}"
               close="closeAlert($index)"
               dismiss-on-timeout="3000">{{alert.msg}}
    </uib-alert>
<div class="portlet light">
    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th> Name </th>
                    <th> Description </th>
                    <th> Action </th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="category in restaurantCategories">
                    <td> {{category.name.en}} </td>
                    <td> {{category.description.en}} </td>
                    <td>
                        <!--<a href="javascript:" data-ng-click="editCategory(category.id)" class="btn default btn-xs purple">-->
                            <!--<i class="fa fa-trash-o"></i> Edit-->
                        <!--</a>-->
                        <a href="javascript:" data-ng-click="deleteCategory(category)" class="btn default btn-xs black">
                            <i class="fa fa-trash-o"></i> Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
