<div loading show="loading"></div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">

            <div class="portlet-title">
                <div class="caption font-purple-plum">
                    <span class="caption-subject bold uppercase"> Edit Details</span>
                </div>

                <div class="actions">
                    <div class="btn-group">
                        <a ui-sref="admin.rest.profile.overview" class="btn green">
                            <i class="fa fa-backward"></i> Overview
                        </a>
                    </div>
                </div>
            </div>

            <!-- DETAILS TAB BEGINS-->
            <div class="tab-pane" id="entityDetailsTab">

                <form class="form-horizontal" role="form" id="editdetails" ng-submit="updateRestaurantDetailsTab(updateRestaurantDetails)">

                    <div class="form-body">

                        <input type="hidden" name="id" ng-model="updateRestaurantDetails.id">

                        <div class="form-group">
                            <label class="col-md-3 control-label">Amenities</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label> <input type="checkbox" ng-model="updateRestaurantDetails.app_order">App Order Available</label><br>
                                    <label> <input type="checkbox" ng-model="updateRestaurantDetails.pre_order"> Pre-Order Available</label><br>
                                    <label> <input type="checkbox" ng-model="updateRestaurantDetails.home_del"> Home Delivery Available</label><br>
                                    <label> <input type="checkbox" ng-model="updateRestaurantDetails.reserve"> Table Reservation</label><br>
                                    <label> <input type="checkbox" ng-model="updateRestaurantDetails.veg_only"> Pure Veg Only</label><br>
                                    <label> <input type="checkbox" ng-model="updateRestaurantDetails.alcohol"> Alcohal</label><br>
                                    <label> <input type="checkbox" ng-model="updateRestaurantDetails.meal_coupons"> Meal Coupons</label><br>
                                    <label> <input type="checkbox" ng-model="updateRestaurantDetails.ac"> AC</label><br>
                                    <label> <input type="checkbox" ng-model="updateRestaurantDetails.out_seating"> Out Seating</label><br>
                                    <label> <input type="checkbox" ng-model="updateRestaurantDetails.wifi"> Wi-Fi</label><br>
                                    <label> <input type="checkbox" ng-model="updateRestaurantDetails.parking"> Parking</label><br>
                                    <label> <input type="checkbox" ng-model="updateRestaurantDetails.wheelchair"> Wheel chair</label><br>
                                    <label> <input type="checkbox" ng-model="updateRestaurantDetails.pet"> Pet Friendly</label><br>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Payment Type</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label> <input type="checkbox" ng-model="updateRestaurantDetails.card"> Card</label><br>
                                    <label> <input type="checkbox" ng-model="updateRestaurantDetails.cash"> Cash</label><br>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Service Type</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label> <input type="checkbox" ng-model="updateRestaurantDetails.walkin"> Walk In</label><br>
                                    <label> <input type="checkbox" ng-model="updateRestaurantDetails.booking"> Booking</label><br>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Products</label>

                            <div class="col-md-4">
                                <div class="input-group">
                                    <ui-select multiple ng-model="updateRestaurantDetails.products" theme="select2" style="width: 300px;">
                                        <ui-select-match placeholder="Select products...">{{$item}}</ui-select-match>
                                        <ui-select-choices repeat="product in availableProducts | filter:$select.search">
                                            {{product}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">Submit</button>
                            </div>
                        </div>
                    </div>

                </form><!--Form horizontal-->
            </div>
            <!-- DETAIL TAB ENDS -->
        </div>
    </div>
</div>