<!-- BEGIN PAGE HEADER-->
<h4 class="sub-page-title">
    Add Item
    <small></small>
    <span class="actions pull-right margin-right-10">
        <span class="btn-group">
                    <a class="btn green" data-ng-click="toggleAllAndAddItems()">
                        <i class="fa fa-eye"></i> View all Items</a>
        </span>
    </span>
</h4>

<!-- ADD ITEM FORM BEGINS -->
<div class="portlet light bordered">
    <div loading show="loading"></div>
    <div class="portlet-body form" data-ng-if="!loading">
        <!--<div data-ng-if="showItemAdded"-->
             <!--ng-class="{'alert-success' : !itemAdditionFailed,'alert-danger' : itemAdditionFailed}"-->
             <!--class="alert alert-dismissable">-->
            <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>-->
            <!--<strong data-ng-if="itemAdditionFailed">Sorry!! {{itemAdditionFailedMessage}} </strong>-->
            <!--<strong data-ng-if="!itemAdditionFailed">Success! {{successMessage}}</strong>-->
        <!--</div>-->
        <uib-alert ng-repeat="alert in alerts"
                   type="{{alert.type}}"
                   close="closeAlert($index)"
                   dismiss-on-timeout="3000">{{alert.msg}}
        </uib-alert>
        <!--<uib-alert data-ng-if="" type="danger" class="alert-dismissable">{{}}</uib-alert>-->
        <form role="form" name="itemForm" class="form-horizontal">
            <div class="form-body">
                <div class="form-group has-info">
                    <label class="col-md-3 control-label" for="item_number">Item number</label>

                    <div class="col-md-5">
                        <div class="input-icon right">
                            <input type="text" ng-model="itemDetails.item_number" placeholder="Item number"
                                   class="form-control" name="item_number" id="item_number">
                            <div class="form-control-focus">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group has-info">
                    <label class="col-md-3 control-label" for="item_name">Item name</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="item_name" placeholder="Item name" id="item_name" ng-model="itemDetails.engName">
                    </div>
                    <div class="col-md-5">
                        <button type="button"  data-ng-if="!showPashtoItemNameField" ng-click="addItemInPashto()" class="btn dark btn-outline">
                            <i class="fa fa-plus-circle red" aria-hidden="true"></i><span> In pashto</span>
                        </button>
                        <button type="button"  data-ng-if="!showPersianItemNameField" ng-click="addItemInPersian()" class="btn dark btn-outline">
                            <i class="fa fa-plus-circle red"aria-hidden="true"></i><span> In persian</span>
                        </button>
                    </div>
                </div>

                <div class="form-group has-info"  data-ng-if="showPashtoItemNameField">
                    <label class="col-md-3 control-label" for="pashto_itemname">Item name</label>

                    <div class="col-md-5">
                        <div class="input-icon right">
                            <input class="form-control rtl-input" ng-model="itemDetails.pashtoName" placeholder="Item name in pashto"
                                   name="pashtoitemname" id="pashto_itemname"/>

                            <div class="form-control-focus">
                            </div>


                        </div>
                    </div>
                </div>

                <div class="form-group has-info"  data-ng-if="showPersianItemNameField">
                    <label class="col-md-3 control-label" for="persian_itemname">Item name</label>

                    <div class="col-md-5">
                        <div class="input-icon right">
                            <input class="form-control rtl-input" ng-model="itemDetails.persianName" placeholder="Item name in persian"
                                   name="pashtoitemname" id="persian_itemname"/>

                            <div class="form-control-focus">
                            </div>


                        </div>
                    </div>
                </div>

                <div class="form-group has-info">
                    <label class="col-md-3 control-label" for="maxlength_defaultconfig">Description</label>

                    <div class="col-md-4">
                        <div class="input-icon right">
                            <textarea class="form-control resize-only-vertical" maxlength="60" ng-model="itemDetails.engDesc" placeholder="Item description"
                                      name="item_description" id="maxlength_defaultconfig" rows="2"></textarea>

                            <div class="form-control-focus">
                            </div>
                        </div>


                    </div>
                    <div class="col-md-5">
                        <button type="button"  data-ng-if="!showPashtoItemDescField" ng-click="addItemDescInPashto()" class="btn dark btn-outline">
                            <i class="fa fa-plus-circle red" aria-hidden="true"></i><span> In pashto</span>
                        </button>
                        <button type="button"  data-ng-if="!showPersianItemDescField" ng-click="addItemDescInPersian()" class="btn dark btn-outline">
                            <i class="fa fa-plus-circle red"aria-hidden="true"></i><span> In persian</span>
                        </button>
                    </div>
                </div>

                <div class="form-group has-info"  data-ng-if="showPashtoItemDescField">
                    <label class="col-md-3 control-label" for="pashto_Itemdesc">Item Desc(Pashto)</label>

                    <div class="col-md-5">
                        <div class="input-icon right">
                                <textarea class="form-control rtl-input resize-only-vertical" maxlength="60" ng-model="itemDetails.pashtoDesc" placeholder="Item desc in pashto"
                                          name="pashtoItemdesc" id="pashto_Itemdesc" rows="2"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group has-info"  data-ng-if="showPersianItemDescField">
                    <label class="col-md-3 control-label" for="persian_Itemdesc">Item Desc(Persian)</label>

                    <div class="col-md-5">
                        <div class="input-icon right">
                                <textarea class="form-control rtl-input resize-only-vertical" maxlength="60" ng-model="itemDetails.persianDesc" placeholder="Item desc in persian"
                                          name="pashtoItemdesc" id="persian_Itemdesc" rows="2"></textarea>
                            <div class="form-control-focus">
                            </div>


                        </div>
                    </div>
                </div>
                <div class="form-group has-info">
                    <label class="col-md-3 control-label" for="item_price">Price</label>

                    <div class="col-md-5">
                        <div class="input-icon right">
                            <input type="number" min="0" ng-model="itemDetails.price" class="form-control"
                                   placeholder="Item price"
                                   name="item_price" id="item_price">

                            <div class="form-control-focus">
                            </div>


                        </div>
                    </div>
                </div>
                <div class="form-group has-info">
                    <label class="col-md-3 control-label" for="item_servesfor">Serves for</label>

                    <div class="col-md-5">
                        <div class="input-icon right">
                            <input type="text" ng-model="itemDetails.servesfor" class="form-control"
                                   placeholder="Item serves-for"
                                   name="item_servesfor" id="item_servesfor">

                            <div class="form-control-focus">
                            </div>


                        </div>
                    </div>
                </div>
                <div class="form-group has-info">
                    <label class="col-md-3 control-label" for="calories">Item calories</label>

                    <div class="col-md-5">
                        <div class="input-icon right">
                            <input type="text" ng-model="itemDetails.calories" class="form-control"
                                   placeholder="Item calories"
                                   name="calories" id="calories">

                            <div class="form-control-focus">
                            </div>


                        </div>
                    </div>
                </div>
                <div class="form-group has-info">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-5">
                         <div class="md-radio-inline">
                            <div class="md-radio">
                                <input type="radio" id="item_is_veg_yes" ng-model="itemDetails.is_veg"  value="1" name="radio2" class="md-radiobtn">
                                <label for="item_is_veg_yes">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    Veg </label>
                            </div>
                            <div class="md-radio has-error">
                                <input type="radio" id="item_is_veg_no" ng-model="itemDetails.is_veg" name="radio2" value="0" class="md-radiobtn">
                                <label for="item_is_veg_no">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    Non-Veg </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group has-info">
                    <!--  ng-options="siteNum as (siteNum | showSiteName) for siteNum in siteNums"-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="primary_cat">Category</label>
                        <div class="col-md-5">
                            <select name="primary_cat" id="primary_cat" class="form-control"
                                    ng-model="itemDetails.item_category_id"
                                    ng-options="category.id as category.name for category in allCategories ">
                                <option value="">Select...</option>
                            </select>
                            <div class="form-control-focus">
                            </div>
                        </div>
                    </div>
                </div>
               <div class="form-group has-info">
                    <!--  ng-options="siteNum as (siteNum | showSiteName) for siteNum in siteNums"-->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Tax group</label>
                        <div class="col-md-5">
                            <!--select name="tax_level" id="tax_level" class="form-control"
                                    ng-model="itemDetails.tax_level"
                                    ng-options="tax.taxName for tax in taxes">
                                <option value="">Select...</option>
                            </select>-->
                            <ui-select ng-model="itemDetails.taxgroup">
                                <ui-select-match placeholder="Click to add taxes...">{{itemDetails.taxgroup.name}}</ui-select-match>
                                <ui-select-choices repeat="tax in taxGroups | filter: $select.search">
                                    <div class="bold" ng-bind-html="tax.name"></div>
                                    <small>
                                        {{tax.description}}
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
               <!-- <div ng-if="itemDetails.primary_itemcategory_id === 9" class="form-group has-info">
                    <div ui-view="categories"></div>
                </div>-->
            </div>

            <div class="form-actions margin-top-10">
                <div class="row">
                    <div class="col-md-offset-2 col-md-5">
                        <button type="button" class="btn default">Cancel</button>
                        <button type="button" class="btn blue" data-ng-click="isValidForm();addItem(itemDetails)">Submit
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- ADD ITEM FORM ENDS -->
