<div data-ng-if="showAddItemDiv" ng-include="'templates/admin/rest/profile/items-add.html'"></div>
<!-- BEGIN PAGE HEADER-->
<h4 class="sub-page-title" data-ng-if="!showAddItemDiv">
    All Items
    <small></small>
    <span class="actions pull-right margin-right-10">
        <span class="btn-group">
                    <a class="btn green" data-ng-click="toggleAllAndAddItems()">
                        <i class="fa fa-plus"></i> Add new Items</a>
        </span>
    </span>
</h4>
<div loading show="loading"></div>
<!-- ADD ITEM FORM BEGINS -->
<div class="portlet light bordered" data-ng-if="!showAddItemDiv">
    <div class="portlet-body">
        <div class="margin-bottom-10">
<!--
            <uib-alert ng-if="showItemNotFetchedMessage" type="danger" dismiss-on-timeout="2000">
                {{itemNotFetchedMessage}}
            </uib-alert>-->

            <table class="table table-bordered table-responsive table-striped table-hover" data-ng-if="!loading">
                <thead>
                <tr class="heading">
                    <th>Name</th>
                    <th>Desc</th>
                    <th>Price</th>
                    <th>Serves</th>
                    <th>Veg/Non-veg</th>
                    <th>Category</th>
                    <th>Tax group</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="item in items">
                    <td>{{item.name.en}}</td>
                    <td>{{item.description.en}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.servesfor}}</td>
                    <td>{{item.is_veg == 1 ? 'Veg' :'Non-veg'}}</td>
                    <td>{{item.item_category_id}}</td>
                    <td>{{item.taxgroup.name}}</td>
                    <td>
                        <a href="#" ng-click="editItemClicked(item)" class="btn default btn-xs purple">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                        <a href="#" ng-click="deleteItemClicked(item)" class="btn default btn-xs black">
                            <i class="fa fa-trash-o"></i> Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>