<div class="modal-header">
    <h2 class="modal-title">Are you sure?</h2>
</div>
<div class="modal-body">
    <div class="portlet light">
        <div class="portlet-body form">
            <form role="form" name="itemForm" class="form-horizontal">
                <div class="form-body">
                    <div class="form-group has-info">
                        <label class="col-md-3 control-label" for="item_name">Item name</label>

                        <div class="col-md-8">
                            <div class="input-icon right">
                                <input type="text" ng-model="item.name.en" placeholder="Item name"
                                       class="form-control" name="item_name" id="item_name">

                                <div class="form-control-focus">
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="form-group has-info">
                        <label class="col-md-3 control-label" for="item_name_pashto">Item name(pashto)</label>

                        <div class="col-md-8">
                            <div class="input-icon right">
                                <input type="text" ng-model="item.name.pa" placeholder="Item namein pashto"
                                       class="form-control" name="item_name_pashto" id="item_name_pashto">

                                <div class="form-control-focus">
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="form-group has-info">
                        <label class="col-md-3 control-label" for="item_name_persian">Item name(persian)</label>

                        <div class="col-md-8">
                            <div class="input-icon right">
                                <input type="text" ng-model="item.name.fa" placeholder="Item name"
                                       class="form-control" name="item_name_persian" id="item_name_persian">

                                <div class="form-control-focus">
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="form-group has-info">
                        <label class="col-md-3 control-label" for="item_description">Description</label>

                        <div class="col-md-8">
                            <div class="input-icon right">
                                <textarea class="form-control resize-only-vertical" ng-model="item.description" placeholder="Item description"
                                          name="item_description" id="item_description" rows="3"></textarea>
                                <div class="form-control-focus">
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="form-group has-info">
                        <label class="col-md-3 control-label" for="item_price">Price</label>

                        <div class="col-md-8">
                            <div class="input-icon right">
                                <input type="number" min="0" ng-model="item.price" class="form-control"
                                       placeholder="Item price"
                                       name="item_price" id="item_price">

                                <div class="form-control-focus">
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="form-group has-info">
                        <label class="col-md-3 control-label" for="item_halfprice">Half price</label>

                        <div class="col-md-8">
                            <div class="input-icon right">
                                <input type="number" min="0"  ng-model="item.halfprice" class="form-control"
                                       placeholder="Item half-price"
                                       name="item_halfprice" id="item_halfprice">

                                <div class="form-control-focus">
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="form-group has-info">
                        <label class="col-md-3 control-label" for="item_servesfor">Serves for</label>

                        <div class="col-md-8">
                            <div class="input-icon right">
                                <input type="text" ng-model="item.servesfor" class="form-control"
                                       placeholder="Item serves-for"
                                       name="item_servesfor" id="item_servesfor">

                                <div class="form-control-focus">
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="form-group has-info">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <div class="md-radio-inline">
                                <div class="md-radio">
                                    <input type="radio" id="radio6" ng-model="item.is_veg"  value="1" name="radio2" class="md-radiobtn">
                                    <label for="radio6">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Veg </label>
                                </div>
                                <div class="md-radio has-error">
                                    <input type="radio" id="radio7" ng-model="item.is_veg" name="radio2" value="0" class="md-radiobtn" checked="">
                                    <label for="radio7">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Non-Veg </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-info">
                        <!--  ng-options="siteNum as (siteNum | showSiteName) for siteNum in siteNums"-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="primary_cat">Primary category</label>
                            <div class="col-md-8">
                                <select name="primary_cat" id="primary_cat" class="form-control"
                                        ng-model="item.item_category_id"
                                        ng-options="category.id as category.name for category in item.categories ">
                                    <option value="">Select...</option>
                                </select>
                                <div class="form-control-focus">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-info">
                        <!--  ng-options="siteNum as (siteNum | showSiteName) for siteNum in siteNums"-->
                        <div class="form-group">
                            <label class="col-md-3 control-label">Tax Level</label>
                            <div class="col-md-8">
                                <ui-select ng-model="item.taxgroup">
                                    <ui-select-match placeholder="Click to add taxes...">{{item.taxgroup.name}}</ui-select-match>
                                    <ui-select-choices repeat="tax in item.taxgroups | filter: $select.search">
                                        <div class="bold" ng-bind-html="tax.name"></div>
                                        <small>
                                            {{tax.description}}
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                                <div class="form-control-focus">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">
        <span aria-hidden="true" class="icon-arrow-r-white"></span>
        <span class="description">Yes please</span>
    </button>
    <button class="btn btn-default" ng-click="cancel()">
        <span aria-hidden="true" class="icon-arrow-l-white"></span>
        <span class="description">No thanks</span>
    </button>
</div>
