<!--PAGE TITLE BEGIN-->
<h3 class="page-title">
<span class="page-title-heading">Restaurant profile</span>
    <small></small>
</h3>
<!--PAGE TITLE END-->

<div loading show="loading"></div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet">

                <!-- SIDEBAR USERPIC -->
                <div class="entity-userpic">
                    <img ng-src="{{restaurantDetails.cover_url && restaurantDetails.cover_url || 'http://placehold.it/350x200'}}" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->

                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        <span>{{ restaurantDetails.name }}</span>
                    </div>
                    <div class="profile-usertitle-job">
                       <span ng-repeat="restaurantType in restaurantDetails.type">
                           {{restaurantType}}
                       </span>

                    </div>


                </div>
                <!-- END SIDEBAR USER TITLE -->

                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li ng-class="{active: $state.includes('admin.rest.profile.overview')}">
                            <a ui-sref="admin.rest.profile.overview">
                                <i class="icon-grid"></i>
                                Overview </a>
                        </li>
                        <li ng-class="{active: $state.includes('admin.rest.profile.basicinfo')}">
                            <a ui-sref="admin.rest.profile.basicinfo">
                                <i class="icon-info"></i>
                                Basic Info </a>
                        </li>
                        <li ng-class="{active: $state.includes('admin.rest.profile.details')}">
                            <a ui-sref="admin.rest.profile.details">
                                <i class="icon-pencil"></i>
                                Amenities </a>
                        </li>
                        <li ng-class="{active: $state.includes('admin.rest.profile.timings')}">
                            <a ui-sref="admin.rest.profile.timings">
                                <i class="icon-clock"></i>
                                Timings </a>
                        </li>
                        <li ng-class="{active: $state.includes('admin.rest.profile.pictures')}">
                            <a ui-sref="admin.rest.profile.pictures">
                                <i class="icon-picture"></i>
                                Upload Pictures </a>
                        </li>
                        <li ng-class="{active: $state.includes('admin.rest.profile.items')}">
                            <a ui-sref="admin.rest.profile.items">
                                <i class="icon-settings"></i>
                                Items</a>
                        </li>
                        <li ng-class="{active: $state.includes('admin.rest.profile.categories')}">
                            <a ui-sref="admin.rest.profile.categories">
                                <i class="icon-settings"></i>
                                Categories</a>
                        </li>
                        <li ng-class="{active: $state.includes('admin.rest.profile.taxes')}">
                            <a ui-sref="admin.rest.profile.taxes">
                                <i class="icon-settings"></i>
                                Taxes</a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
            <!-- END PORTLET MAIN -->

        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div ui-view class="profile-content">
        </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>
