<div class="row">

    <div class="col-md-6">
        <!-- BEGIN PORTLET -->
        <div class="portlet light">

            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <i class="icon-phone"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Info</span>
                </div>
            </div>

            <div class="portlet-body">
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{restaurantDetails.name}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{restaurantDetails.email}}</td>
                        </tr>

                        <tr>
                            <td>Address</td>
                            <td>
                                {{restaurantDetails.add_line_1}}<br>
                                {{restaurantDetails.add_line_2}}<br>
                                {{restaurantDetails.neighbourhood}}<br>
                                {{restaurantDetails.pin}}
                            </td>
                        </tr>
                        <tr>
                            <td>phone</td>
                            <td>
                                {{restaurantDetails.phone1}}
                                {{restaurantDetails.phone2}}
                            </td>
                        </tr>

                        <tr>
                            <td> Mobile</td>
                            <td>
                                {{restaurantDetails.mobile1}}
                                {{restaurantDetails.mobile2}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--portlet-body-->
        </div>
    </div>

    <div class="col-md-6">
        <!-- BEGIN PORTLET -->
        <div class="portlet light">

            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <i class="icon-phone"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Active delivery boys</span>
                </div>
            </div>

            <div class="portlet-body">
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{restaurantDetails.name}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{restaurantDetails.email}}</td>
                        </tr>

                        <tr>
                            <td>Address</td>
                            <td>
                                {{restaurantDetails.add_line_1}}<br>
                                {{restaurantDetails.add_line_2}}<br>
                                {{restaurantDetails.neighbourhood}}<br>
                                {{restaurantDetails.pin}}
                            </td>
                        </tr>
                        <tr>
                            <td>phone</td>
                            <td>
                                {{restaurantDetails.phone1}}
                                {{restaurantDetails.phone2}}
                            </td>
                        </tr>

                        <tr>
                            <td> Mobile</td>
                            <td>
                                {{restaurantDetails.mobile1}}
                                {{restaurantDetails.mobile2}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--portlet-body-->
        </div>
    </div><!-- col md 6 -->
</div>

<!-- BEGIN PORTLET -->
<div class="portlet light">

    <div class="portlet-title">
        <div class="caption caption-md">
            <i class="icon-bar-chart theme-font hide"></i>
            <span class="caption-subject font-blue-madison bold uppercase"> Orders</span>
        </div>
    </div>

    <div class="portlet-body">
        <div class="table-scrollable">
            <form role="form" ng-submit="search(searchOrder)">
                <table class="table table-bordered table-responsive table-striped table-hover ">
                    <thead>
                    <tr class="heading">
                        <th class="text-center">S.No.</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">R. no.</th>
                        <th class="text-center">Amount</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="order in orders | itemsPerPage:ordersPerPage"
                        total-items="totalOrders" current-page="pagination.current">
                        <td class="text-center first-letter-capital">{{((pagination.current-1)*10)+$index + 1}}</td>
                        <td class="text-center first-letter-capital">{{order.customer_name}}</td>
                        <td class="text-center first-letter-capital">{{order.rno}}</td>
                        <td class="text-center">{{order.price}}</td>
                        <td class="text-center first-letter-capital">
                                                <span style="color: white;padding: 5px;font-size: 13px;"
                                                      ng-class="{'status-1' : order.status === 1,
                                                                'status-2' : order.status === 2 || order.status === 3,
                                                                'status-4' : order.status === 4,
                                                                'status-5' : order.status === 5,
                                                                'status-6' : order.status === 6,
                                                                'status-7' : order.status === 7,
                                                                'status-8' : order.status === 8,
                                                                'status-9' : order.status === 9,
                                                                'status-10' : order.status === 10}">
                                                    {{order.status_text}}
                                                </span>
                        </td>
                        <td class="text-center">
                            <a ui-sref="admin.orderDetails({orderId : order.order_id})"
                               class="btn btn-sm purple btn-default">
                                <i class="fa fa-eye"></i> View
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!-- BEGIN Paginator -->
                <dir-pagination-controls
                        on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                <!-- END Paginator -->
            </form>
        </div>
    </div>
</div><!-- END PORTLET -->
