<div loading show="loading"></div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">

            <div class="portlet-title">
                <div class="caption font-purple-plum">
                    <span class="caption-subject bold uppercase"> Edit Details</span>
                </div>

                <div class="actions">
                    <div class="btn-group">
                        <a ui-sref="admin.rest.profile.overview" class="btn green">
                            <i class="fa fa-backward"></i> Overview
                        </a>
                    </div>
                </div>
            </div>

            <!-- PICTURES TAB -->
            <div class="tab-pane" id="entityImagesTab">

                <!--COVER PIC BEGINS-->
                <div>
                    <div class="headline">
                        <h4>Cover Image</h4>
                    </div>
                    <p>
                        <button type="file" ngf-select="uploadCoverPic($file, $invalidFiles)"
                                accept="image/*"
                                ngf-max-size="8MB"
                                ngf-fix-orientation="true"
                                class="btn blue start">
                            Upload Image
                        </button>
                    </p>

                    <!---- Cover Preview ---->
                    <div class="content">
                        <ng-gallery images="coverImage"></ng-gallery>
                    </div>


                    <div class="progress" ng-show="coverpicProgress >= 0">
                        <uib-progressbar class="progress-striped"
                                         value="coverpicProgress"
                                         type="success">
                            <b>{{coverpicProgress}}%</b>
                        </uib-progressbar>
                    </div>
                </div>
                <!--COVER PIC ENDS-->

                <hr>

                <!--INSIDE PICS BEGIN-->
                <div>
                    <div class="headline">
                        <h4>Inside Images</h4>
                    </div>

                    <button ngf-select="uploadInsidePics($files, $invalidFiles)"
                            multiple accept="image/*"
                            class="btn blue start"
                            ngf-max-height="3000"
                            ngf-max-size="8MB"
                            ngf-fix-orientation="false">
                        Upload Images
                    </button>
                    <br><br>
                    <ul>
                        <!--Progress bar-->
                        <li ng-repeat="f in insidePicFiles">
                            <div style="font-size: smaller">
                                {{f.name}} {{f.$errorParam}}
                            </div>

                            <div class="progress" ng-show="insidePicsProgress >= 0">
                                <uib-progressbar class="progress-striped"
                                                 value="insidePicsProgress"
                                                 type="success">
                                    <b>{{insidePicsProgress}}%</b>
                                </uib-progressbar>
                            </div>
                        </li>

                        <!--error messages-->
                        <li ng-repeat="f in errFiles">
                            <div style="font-size: smaller">
                                {{f.name}} {{f.$error}} {{f.$errorParam}}
                            </div>
                        </li>
                    </ul>

                    <!--Displaying Image thumbnails-->
                    <div class="row">
                        <div class="content">
                            <ng-gallery images="insidePics" thumbs-num="8"></ng-gallery>
                        </div>
                    </div><!--row-->
                </div>
                <!--INSIDE PICS END-->

                <hr>

                <!-- GALLERY PICS BEGIN-->
                <div>
                    <div class="headline">
                        <h4>Gallery</h4>
                    </div>

                    <button ngf-select="uploadGalleryPics($files, $invalidFiles)"
                            multiple accept="image/*"
                            class="btn blue start"
                            ngf-max-height="3000"
                            ngf-max-size="8MB"
                            ngf-fix-orientation="false">
                        Upload Images</button>
                    <br><br>

                    <ul>
                        <!--Progress bar-->
                        <li ng-repeat="file in galleryPicFiles">
                            <div style="font-size: smaller">
                                {{file.name}} {{file.$errorParam}}
                            </div>
                            <div class="progress" ng-show="galleryPicsProgress >= 0">
                                <uib-progressbar class="progress-striped"
                                                 value="galleryPicsProgress"
                                                 type="success">
                                    <b>{{galleryPicsProgress}}%</b>
                                </uib-progressbar>
                            </div>
                        </li>

                        <!--error messages-->
                        <li ng-repeat="file in errFiles">
                            <div style="font-size: smaller">
                                {{file.name}} {{file.$error}} {{file.$errorParam}}
                            </div>
                        </li>
                    </ul>

                    <!--Displaying Image thumbnails-->
                    <div class="row">
                        <div class="content">
                            <ng-gallery images="galleryPics" thumbs-num="8"></ng-gallery>
                        </div>
                    </div><!--row-->
                </div>
                <!-- GALLERY PICS END-->

            </div>
            <!-- END PICTURES TAB -->

        </div>
    </div>
</div>