<div loading show="loading"></div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">

            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Restaurant Profile</span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#" data-target="#restaurantBasicInfoTab" data-toggle="tab">Basic Info</a>
                    </li>
                    <li>
                        <a href="#" data-target="#restaurantDetailsTab" data-toggle="tab">Details</a>
                    </li>
                    <li>
                        <a href="#" data-target="#restaurantTimingsTab" data-toggle="tab">Timings</a>
                    </li>
                    <li>
                        <a href="#" data-target="#restaurantServicesTab" data-toggle="tab">Services</a>
                    </li>
                    <li>
                        <a href="#" data-target="#restaurantImagesTab" data-toggle="tab">Pictures</a>
                    </li>
                </ul>
            </div>

            <div class="portlet-body">
                <div class="tab-content">

                    <!-- BASIC INFO TAB -->
                    <div class="tab-pane active" id="restaurantBasicInfoTab">
                        <form class="form-horizontal" role="form" id="updateBasiInfo" ng-submit="updateRestaurantBasicInfo(updateRestaurant)">
                            <div class="form-body">

                                <input type="hidden" name="id" ng-model="updateRestaurant.id">

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Name</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" name="name" ng-model="updateRestaurant.name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Address1</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" name="add_line_1" ng-model="updateRestaurant.add_line_1">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Address2</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" name="add_line_2" ng-model="updateRestaurant.add_line_2">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Address3</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" name="add_line_3" ng-model="updateRestaurant.add_line_3">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Landmark</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control"  name="landmark" ng-model="updateRestaurant.landmark">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Neighbourhood</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control"  name="neighbourhood" ng-model="updateRestaurant.neighbourhood">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Landline</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control"  name="landline" ng-model="updateRestaurant.landline">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Mobile No</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control"  name="mobile" ng-model="updateRestaurant.mobile" >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Exotel No</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control"  name="exotelno" ng-model="updateRestaurant.exotelno" >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Exotel Ext</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control"  name="exotelext" ng-model="updateRestaurant.exotelext" >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Email Address</label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                            <input type="email" class="form-control" name="email" ng-model="updateRestaurant.email">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Category</label>
                                    <div class="col-md-4">
                                        <div class="input-group">

                                            <label> <input type="checkbox" name="salon" ng-model="updateRestaurant.type_salon"> Salon </label><br>
                                            <label> <input type="checkbox" name="spa" ng-model="updateRestaurant.type_spa"> Spa </label><br>
                                            <label> <input type="checkbox" name="beauty" ng-model="updateRestaurant.type_saloonNspa"> Salon & Spa </label><br>
                                            <label> <input type="checkbox" name="tattoo" ng-model="updateRestaurant.type_tattoo"> Tattoo Studio </label><br>
                                            <label> <input type="checkbox" name="nail" ng-model="updateRestaurant.type_nail"> Nail Studio </label><br>
                                            <label> <input type="checkbox" name="barber" ng-model="updateRestaurant.type_barber"> Barber Shop </label><br>
                                            <label> <input type="checkbox" name="beauty" ng-model="updateRestaurant.type_beauty"> Beauty Parlour </label><br>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Serves</label>
                                    <div class="col-md-4">
                                        <div class="input-group">

                                            <label> <input type="checkbox" name="male" ng-model="updateRestaurant.serves_male"> Male </label><br>
                                            <label> <input type="checkbox" name="female" ng-model="updateRestaurant.serves_female"> Female </label><br>
                                            <label> <input type="checkbox" name="unisex" ng-model="updateRestaurant.serves_unisex"> Unisex </label><br>
                                            <label> <input type="checkbox" name="kids" ng-model="updateRestaurant.serves_kids"> Kids </label><br>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">service</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control"  name="service" ng-model="updateRestaurant.service">
                                    </div>
                                </div>
                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-7">
                                        <button type="submit" class="btn green">Submit</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- END BASIC INFO TAB -->



                    <!-- DETAILS TAB -->
                    <div class="tab-pane" id="restaurantDetailsTab">

                        <form class="form-horizontal" role="form" id="editdetails" ng-submit="updateRestaurantDetailsTab(updateRestaurantDetails)">

                            <div class="form-body">

                                <input type="hidden" name="id" ng-model="updateRestaurantDetails.id">

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Amenities</label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <label> <input type="checkbox" ng-model="updateRestaurantDetails.parking"> Parking Available </label><br>
                                            <label> <input type="checkbox" ng-model="updateRestaurantDetails.valet"> Valet Available </label><br>
                                            <label> <input type="checkbox" ng-model="updateRestaurantDetails.beverages"> Beverages Available</label><br>
                                            <label> <input type="checkbox" ng-model="updateRestaurantDetails.tv"> Tv</label><br>
                                            <label> <input type="checkbox" ng-model="updateRestaurantDetails.ac"> Ac</label><br>
                                            <label> <input type="checkbox" ng-model="updateRestaurantDetails.magazines"> Magazines</label><br>
                                            <label> <input type="checkbox" ng-model="updateRestaurantDetails.wifi"> Wi-Fi</label><br>
                                            <label> <input type="checkbox" ng-model="updateRestaurantDetails.pet"> Pet Friendly</label><br>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Payment Type</label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <label> <input type="checkbox" ng-model="updateRestaurantDetails.card"> Card</label><br>
                                            <label> <input type="checkbox" ng-model="updateRestaurantDetails.cash"> Cash</label><br>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Service Type</label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <label> <input type="checkbox" ng-model="updateRestaurantDetails.walkin"> Walk In</label><br>
                                            <label> <input type="checkbox" ng-model="updateRestaurantDetails.booking"> Booking</label><br>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Products</label>

                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <ui-select multiple ng-model="updateRestaurantDetails.products" theme="select2" style="width: 300px;">
                                                <ui-select-match placeholder="Select products...">{{$item}}</ui-select-match>
                                                <ui-select-choices repeat="product in availableProducts | filter:$select.search">
                                                    {{product}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn green">Submit</button>
                                    </div>
                                </div>
                            </div>

                        </form><!--Form horizontal-->
                    </div>
                    <!-- TAB PANE 2 -->


                    <!--TIMINGS TAB-->
                    <div class="tab-pane" id="restaurantTimingsTab">

                        <form class="form-horizontal" role="form" id="editTimings" ng-submit="updateRestaurantTimingsTab(updateRestaurantTimings)">

                            <div class="form-body">

                                <input type="hidden" name="id" ng-model="updateRestaurantTimings.id">

                                <label class="col-md-12">
                                    <h3>Timings</h3>
                                </label>

                                <div class="form-group">
                                    <div class="col-md-12">

                                        <div class="form-group">
                                            <div class="col-md-2">Days</div>
                                            <div class="col-md-4">Opens at</div>
                                            <div class="col-md-4">Closes at</div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-2 control-label">MONDAY</div>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <uib-timepicker ng-model="updateRestaurantTimings.mon_o" minute-step="15"></uib-timepicker>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <div class="input-group">
                                                        <uib-timepicker ng-model="updateRestaurantTimings.mon_c" minute-step="15"></uib-timepicker>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--end of monday-->

                                        <div class="form-group">
                                            <div class="col-md-2 control-label">TUESDAY</div>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <div class="input-group">
                                                        <uib-timepicker ng-model="updateRestaurantTimings.tue_o" minute-step="15"></uib-timepicker>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <div class="input-group">
                                                        <uib-timepicker ng-model="updateRestaurantTimings.tue_c" minute-step="15"></uib-timepicker>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--end of tuesday-->

                                        <div class="form-group">
                                            <div class="col-md-2 control-label">WEDNESDAY</div>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <div class="input-group">
                                                        <uib-timepicker ng-model="updateRestaurantTimings.wed_o" minute-step="15"></uib-timepicker>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <div class="input-group">
                                                        <uib-timepicker ng-model="updateRestaurantTimings.wed_c" minute-step="15"></uib-timepicker>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--end of wednesday-->

                                        <div class="form-group">
                                            <div class="col-md-2 control-label">THURSDAY</div>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <div class="input-group">
                                                        <uib-timepicker ng-model="updateRestaurantTimings.thu_o" minute-step="15"></uib-timepicker>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <div class="input-group">
                                                        <uib-timepicker ng-model="updateRestaurantTimings.thu_c" minute-step="15"></uib-timepicker>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--end of thursday-->

                                        <div class="form-group">
                                            <div class="col-md-2 control-label">FRIDAY</div>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <div class="input-group">
                                                        <uib-timepicker ng-model="updateRestaurantTimings.fri_o" minute-step="15"></uib-timepicker>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <div class="input-group">
                                                        <uib-timepicker ng-model="updateRestaurantTimings.fri_c" minute-step="15"></uib-timepicker>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--end of friday-->

                                        <div class="form-group">
                                            <div class="col-md-2 control-label">SATURDAY</div>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <div class="input-group">
                                                        <uib-timepicker ng-model="updateRestaurantTimings.sat_o" minute-step="15"></uib-timepicker>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <div class="input-group">
                                                        <uib-timepicker ng-model="updateRestaurantTimings.sat_c" minute-step="15"></uib-timepicker>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--end of saturday-->

                                        <div class="form-group">
                                            <div class="col-md-2 control-label">SUNDAY</div>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <div class="input-group">
                                                        <uib-timepicker ng-model="updateRestaurantTimings.sun_o" minute-step="15"></uib-timepicker>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <div class="input-group">
                                                        <uib-timepicker ng-model="updateRestaurantTimings.sun_c" minute-step="15"></uib-timepicker>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--end of sunday-->
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">CLOSED ON</label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <label> <input type="checkbox" ng-model="updateRestaurantTimings.mon_off"> MONDAY </label><br>
                                            <label> <input type="checkbox" ng-model="updateRestaurantTimings.tue_off"> TUESDAY </label><br>
                                            <label> <input type="checkbox" ng-model="updateRestaurantTimings.wed_off"> WEDNESDAY</label><br>
                                            <label> <input type="checkbox" ng-model="updateRestaurantTimings.thu_off"> THRUSDAY</label><br>
                                            <label> <input type="checkbox" ng-model="updateRestaurantTimings.fri_off"> FRIDAY</label><br>
                                            <label> <input type="checkbox" ng-model="updateRestaurantTimings.sat_off"> SATURDAY</label><br>
                                            <label> <input type="checkbox" ng-model="updateRestaurantTimings.sun_off"> SUNDAY</label><br>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn green">Submit</button>
                                    </div>
                                </div>
                            </div>

                        </form><!--Form horizontal-->
                    </div>
                    <!--TIMINGS TAB-->



                    <!-- SERVICES TAB -->
                    <div class="tab-pane" id="restaurantServicesTab">
                        <!-- LIST OF SERVICES IN XEDITABLE -->
                        <div class="headline">
                            <h3>List of Services</h3>
                        </div>


                        <table class="table table-bordered table-striped">
                            <tr style="font-weight: bold">
                                <td style="width:35%">Name</td>
                                <td style="width:15%">Gender</td>
                                <td style="width:10%">Price</td>
                                <td style="width:25%">Subcategory</td>
                                <td style="width:5%">Actions</td>
                            </tr>
                            <tr ng-repeat="service in services">
                                <td>
                                    <span editable-text="service.name"
                                          e-name="name"
                                          e-form="rowform"
                                          e-required>
                                        {{ service.name || 'empty' }}
                                    </span>
                                </td>
                                <td>
                                    <span editable-select="service.sex"
                                          e-name="sex"
                                          e-form="rowform"
                                          e-ng-options="sex.name as sex.name for sex in servSex">
                                        {{ service.sex|| 'empty' }}
                                    </span>
                                </td>
                                <td>
                                    <span editable-text="service.price"
                                          e-name="price"
                                          e-form="rowform"
                                          e-required>
                                        {{ service.price || 'empty' }}
                                    </span>
                                </td>
                                <td>
                                    <span editable-select="service.serv_subcat_id"
                                          e-name="subcategory"
                                          e-form="rowform"
                                          e-ng-options="subcat.id as subcat.name for subcat in servSubCats">
                                        {{ showSubcat(service) }}
                                    </span>
                                </td>
                                <td style="white-space: nowrap">
                                    <form editable-form
                                          name="rowform"
                                          onbeforesave="saveService($data, service.id)"
                                          ng-show="rowform.$visible"
                                          class="form-buttons form-inline"
                                          shown="inserted == service">
                                        <button type="submit" class="btn default btn-xs purple" ng-disabled="rowform.$waiting">
                                            save
                                        </button>
                                        <button type="button" class="btn default btn-xs red" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()">
                                            cancel
                                        </button>
                                    </form>
                                    <div class="buttons" ng-show="!rowform.$visible">
                                        <button class="btn default btn-xs purple" ng-click="rowform.$show()">Edit</button>
                                        <button class="btn default btn-xs red" ng-click="removeService($index,service.id)">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <!--Add new service-->
                        <button class="btn purple" ng-click="addService()"><i class="fa fa-plus"></i>&nbsp;Add Service</button>

                    </div>
                    <!-- END SERVICES TAB -->



                    <!-- PICTURES TAB -->
                    <div class="tab-pane" id="restaurantImagesTab">

                        <!--COVER PIC BEGINS-->
                        <div>
                            <div class="headline">
                                <h4>Cover Image</h4>
                            </div>
                            <p>
                                <button type="file" ngf-select="uploadCoverPic($file, $invalidFiles)"
                                        accept="image/*"
                                        ngf-max-size="8MB"
                                        ngf-fix-orientation="true"
                                        class="btn blue start">
                                    Upload Image
                                </button>
                            </p>

                            <!---- Cover Preview ---->
                            <div class="content">
                                <ng-gallery images="coverImage"></ng-gallery>
                            </div>


                            <div class="progress" ng-show="coverpicProgress >= 0">
                                <uib-progressbar class="progress-striped"
                                                 value="coverpicProgress"
                                                 type="success">
                                    <b>{{coverpicProgress}}%</b>
                                </uib-progressbar>
                            </div>
                        </div>
                        <!--COVER PIC ENDS-->

                        <hr>

                        <!--INSIDE PICS BEGIN-->
                        <div>
                            <div class="headline">
                                <h4>Inside Images</h4>
                            </div>

                            <button ngf-select="uploadInsidePics($files, $invalidFiles)"
                                    multiple accept="image/*"
                                    class="btn blue start"
                                    ngf-max-height="3000"
                                    ngf-max-size="8MB"
                                    ngf-fix-orientation="false">
                                Upload Images
                            </button>
                            <br><br>
                            <ul>
                                <!--Progress bar-->
                                <li ng-repeat="f in insidePicFiles">
                                    <div style="font-size: smaller">
                                        {{f.name}} {{f.$errorParam}}
                                    </div>

                                    <div class="progress" ng-show="insidePicsProgress >= 0">
                                        <uib-progressbar class="progress-striped"
                                                         value="insidePicsProgress"
                                                         type="success">
                                            <b>{{insidePicsProgress}}%</b>
                                        </uib-progressbar>
                                    </div>
                                </li>

                                <!--error messages-->
                                <li ng-repeat="f in errFiles">
                                    <div style="font-size: smaller">
                                        {{f.name}} {{f.$error}} {{f.$errorParam}}
                                    </div>
                                </li>
                            </ul>

                            <!--Displaying Image thumbnails-->
                            <div class="row">
                                <div class="content">
                                    <ng-gallery images="insidePics" thumbs-num="8"></ng-gallery>
                                </div>
                            </div><!--row-->
                        </div>
                        <!--INSIDE PICS END-->

                        <hr>

                        <!-- GALLERY PICS BEGIN-->
                        <div>
                            <div class="headline">
                                <h4>Gallery</h4>
                            </div>

                            <button ngf-select="uploadGalleryPics($files, $invalidFiles)"
                                    multiple accept="image/*"
                                    class="btn blue start"
                                    ngf-max-height="3000"
                                    ngf-max-size="8MB"
                                    ngf-fix-orientation="false">
                                Upload Images</button>
                            <br><br>

                            <ul>
                                <!--Progress bar-->
                                <li ng-repeat="file in galleryPicFiles">
                                    <div style="font-size: smaller">
                                        {{file.name}} {{file.$errorParam}}
                                    </div>
                                    <div class="progress" ng-show="galleryPicsProgress >= 0">
                                        <uib-progressbar class="progress-striped"
                                                         value="galleryPicsProgress"
                                                         type="success">
                                            <b>{{galleryPicsProgress}}%</b>
                                        </uib-progressbar>
                                    </div>
                                </li>

                                <!--error messages-->
                                <li ng-repeat="file in errFiles">
                                    <div style="font-size: smaller">
                                        {{file.name}} {{file.$error}} {{file.$errorParam}}
                                    </div>
                                </li>
                            </ul>

                            <!--Displaying Image thumbnails-->
                            <div class="row">
                                <div class="content">
                                    <ng-gallery images="galleryPics" thumbs-num="8"></ng-gallery>
                                </div>
                            </div><!--row-->
                        </div>
                        <!-- GALLERY PICS END-->

                    </div>
                    <!-- END PICTURES TAB -->

                </div>
                <!--tab content closed-->
            </div>
            <!--portlet-body-->

        </div><!-- portlet light -->
    </div><!--col-md-12-->
</div><!--row-->