<div class="modal-body">
    <div class="portlet light">
        <div class="portlet-body form">
            <div>
                <label class="col-md-3 control-label">Checkboxes</label>
                <div class="col-md-9">
                    <div class="checkbox-list">
                        <label ng-repeat="tax in item track by $index">
                            <input type="checkbox" checklist-model="selectedTaxes.taxes" checklist-value="tax"> {{tax.taxName}}
                        </label>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">
        <span aria-hidden="true" class="icon-arrow-r-white"></span>
        <span class="description">Confirm</span>
    </button>
    <button class="btn btn-default" ng-click="cancel()">
        <span aria-hidden="true" class="icon-arrow-l-white"></span>
        <span class="description">No thanks</span>
    </button>
</div>