<div loading show="loading"></div>

<!-- BEGIN PAGE HEADER-->
<h4 class="sub-page-title">
    Taxes
    <small></small>
    <input bs-switch
           switch-size="mini"
           type="checkbox"
           ng-model="isTakingTax"
           ng-change="toggleTax(isTakingTax)"
           ng-true-value="1"
           ng-false-value="0"/>
    <span class="actions pull-right margin-right-10">
        <span class="btn-group">
            <a ui-sref="admin.rest.profile.overview" class="btn green">
                <i class="fa fa-backward"></i> Overview
            </a>
        </span>
    </span>
</h4>

<!--PAGE TITLE END-->
<!-- BEGIN SAMPLE FORM PORTLET-->
<div data-ng-if="!loading">
<div class="portlet light margin-top-20">
    <div class="portlet-body form">
        <form role="form" name="itemForm" class="form-horizontal" novalidate ng-submit="addTax(taxDetails)">
            <div class="form-body">

                <div class="form-group">
                    <label class="col-md-3 control-label">Tax name</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="taxDetails.engName"
                               placeholder="Tax name">
                    </div>
                    <div class="col-md-5">
                        <button type="button"  data-ng-if="!showPashtoTaxNameField" ng-click="addTaxNameInPashto()" class="btn dark btn-outline">
                            <i class="fa fa-plus-circle red" aria-hidden="true"></i><span> Add in pashto</span>
                        </button>
                        <button type="button"  data-ng-if="!showPersianTaxNameField" ng-click="addTaxNameInPersian()" class="btn dark btn-outline">
                            <i class="fa fa-plus-circle red"aria-hidden="true"></i><span> Add in persian</span>
                        </button>
                    </div>
                </div>

                <div class="form-group" data-ng-if="showPashtoTaxNameField">
                    <label class="col-md-3 control-label">Tax name(In Pashto)</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control rtl-input" ng-model="taxDetails.pashtoName"
                               placeholder="Tax name">
                    </div>
                </div>

                <div class="form-group" data-ng-if="showPersianTaxNameField">
                    <label class="col-md-3 control-label">Tax name(Persian)</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control rtl-input" ng-model="taxDetails.persianName"
                               placeholder="Tax name">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Tax rate</label>
                    <div class="col-md-4">
                        <input type="number" min="0" max="100" class="form-control" ng-model="taxDetails.value"
                               placeholder="Tax rate">
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Tax level</label>
                    <div class="col-md-4">
                        <select name="order_type" id="order_type" class="form-control"
                                ng-init="taxDetails.level = taxLevels[0]"
                                ng-model="taxDetails.level"
                                ng-options="level as level for level in taxLevels">
                        </select>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-5">
                        <button type="submit" class="btn green">Add Tax
                        </button>
                    </div>

                </div>

            </div>
        </form>
    </div>
</div>


            <div class="row portlet light bordered" data-ng-if="taxes.length > 0">
                <div class="col-md-12 portlet-body">
                    <div class="table-container table-scrollable">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Tax Name</th>
                                <th>Tax Rate</th>
                                <th>Tax Level</th>
                                <!--<th>Description</th>-->
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="tax in taxes">
                                <td>{{tax.name.en}}</td>
                                <td>{{tax.value}}</td>
                                <td>{{tax.level}}</td>
                                <!--<td>{{tax.description}}</td>-->
                                <td>
                                    <a href="javascript:;" ng-click="editTaxDetails(tax)" class="btn default btn-xs purple">
                                        <i class="fa fa-edit"></i> Edit
                                    </a>
                                    <a href="javascript:;" ng-click="deleteTax(tax)" class="btn default btn-xs black">
                                        <i class="fa fa-trash-o"></i> Delete
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>





<div class="portlet light margin-top-20">
    <h3>Tax groups</h3>
    <div class="row">
        <form role="form" name="itemForm" class="form-horizontal">
            <div class="margin-bottom-20">
                <div class="form-group">
                    <label class="col-md-3 control-label">Tax group name</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="taxGroupDetails.engName"
                               placeholder="Tax name">
                    </div>
                    <div class="col-md-5">
                        <button type="button"  data-ng-if="!showPashtoTaxGroupNameField" ng-click="addTaxGroupNameInPashto()" class="btn dark btn-outline">
                            <i class="fa fa-plus-circle red" aria-hidden="true"></i><span> Add in pashto</span>
                        </button>
                        <button type="button"  data-ng-if="!showPersianTaxGroupNameField" ng-click="addTaxGroupNameInPersian()" class="btn dark btn-outline">
                            <i class="fa fa-plus-circle red"aria-hidden="true"></i><span> Add in persian</span>
                        </button>
                    </div>
                </div>

                <div class="form-group" data-ng-if="showPashtoTaxGroupNameField">
                    <label class="col-md-3 control-label">Tax group name(In Pashto)</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control rtl-input" ng-model="taxGroupDetails.pashtoName"
                               placeholder="Tax name">
                    </div>
                </div>

                <div class="form-group" data-ng-if="showPersianTaxGroupNameField">
                    <label class="col-md-3 control-label">Tax group name(Persian)</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control rtl-input" ng-model="taxGroupDetails.persianName"
                               placeholder="Tax name">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Tax group Description</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="taxGroupDetails.engDesc"
                               placeholder="Tax name">
                    </div>
                    <div class="col-md-5">
                        <button type="button"  data-ng-if="!showPashtoTaxGroupDescField" ng-click="addTaxGroupDescInPashto()" class="btn dark btn-outline">
                            <i class="fa fa-plus-circle red" aria-hidden="true"></i><span> Add in pashto</span>
                        </button>
                        <button type="button"  data-ng-if="!showPersianTaxGroupDescField" ng-click="addTaxGroupDescInPersian()" class="btn dark btn-outline">
                            <i class="fa fa-plus-circle red"aria-hidden="true"></i><span> Add in persian</span>
                        </button>
                    </div>
                </div>

                <div class="form-group" data-ng-if="showPashtoTaxGroupDescField">
                    <label class="col-md-3 control-label">Tax group Desc(Pashto)</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control rtl-input" ng-model="taxGroupDetails.pashtoDesc"
                               placeholder="Tax group Desc">
                    </div>
                </div>

                <div class="form-group" data-ng-if="showPersianTaxGroupDescField">
                    <label class="col-md-3 control-label">Tax group Desc(Persian)</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control rtl-input" ng-model="taxGroupDetails.persianDesc"
                               placeholder="Tax group desc">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Taxes</label>
                    <div class="col-md-4">
                        <ui-select multiple ng-model="taxGroupDetails.selectedTaxes"
                                   close-on-select="true">
                            <ui-select-match placeholder="Click to add taxes...">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="tax in taxes | filter: $select.search">
                                <span ng-bind-html="tax.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-4">
                        <div class="col-md-2">
                            <button type="submit" data-ng-click="addTaxGroup(taxGroupDetails)"
                                    class="btn green">Add Taxgroup
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row portlet" data-ng-if="taxGroups.length > 0">
    <div class="col-md-12">
        <div class="table-scrollable">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Tax group name</th>
                    <th>Tax group description</th>
                    <th>Taxes inside group</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="taxGroup in taxGroups track by $index">
                    <td>{{taxGroup.name.en}}</td>
                    <td>{{taxGroup.description}}</td>
                    <td><span ng-repeat="selectedTax in taxGroup.taxes">
                        {{selectedTax.name}},</span>
                    </td>
                    <td>
                        <a href="javascript:;" ng-click="editTaxGroupDetails(taxGroup)" class="btn default btn-xs purple">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                        <a href="javascript:;" ng-click="deleteTaxGroup(taxGroup)" class="btn default btn-xs black">
                            <i class="fa fa-trash-o"></i> Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- END SAMPLE FORM PORTLET-->
</div>

