<div loading show="loading"></div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">

            <div class="portlet-title">
                <div class="caption font-purple-plum">
                    <span class="caption-subject bold uppercase"> Edit Details</span>
                </div>

                <div class="actions">
                    <div class="btn-group">
                        <a ui-sref="admin.rest.profile.overview" class="btn green">
                            <i class="fa fa-backward"></i> Overview
                        </a>
                    </div>
                </div>
            </div>

            <!--TIMINGS TAB-->
            <div class="tab-pane" id="entityTimingsTab">
                <div class="form-group">
                    <label class="col-md-3 control-label">CLOSED ON</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label> <input type="checkbox" ng-checked='{{updateRestaurantTimings.mon_off}}' ng-model="updateRestaurantTimings.mon_off" > MONDAY </label><br>
                            <label> <input type="checkbox" ng-checked="{{updateRestaurantTimings.tue_off}}"  ng-model="updateRestaurantTimings.tue_off"> TUESDAY </label><br>
                            <label> <input type="checkbox" ng-checked="{{updateRestaurantTimings.wed_off}}"  ng-model="updateRestaurantTimings.wed_off"> WEDNESDAY</label><br>
                            <label> <input type="checkbox" ng-checked="{{updateRestaurantTimings.thu_off}}"  ng-model="updateRestaurantTimings.thu_off"> THRUSDAY</label><br>
                            <label> <input type="checkbox" ng-checked="{{updateRestaurantTimings.fri_off}}"    ng-model="updateRestaurantTimings.fri_off"> FRIDAY</label><br>
                            <label> <input type="checkbox" ng-checked="{{updateRestaurantTimings.sat_off}}"    ng-model="updateRestaurantTimings.sat_off"> SATURDAY</label><br>
                            <label> <input type="checkbox" ng-checked="{{updateRestaurantTimings.sun_off}}"    ng-model="updateRestaurantTimings.sun_off"> SUNDAY</label><br>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-striped">
                    <tr style="font-weight: bold">
                        <td style="width:25%">Day</td>
                        <td style="width:25%">Open time</td>
                        <td style="width:25%">Close time</td>
                        <td style="width:25%">Actions</td>
                    </tr>
                    <tr ng-repeat="slot in timings.timeslot">
                        <td>
                            <!-- <span editable-text="slot.day"
                                   e-name="day"
                                   e-form="rowform"
                                   e-required>
                                 {{ slot.day || 'empty' }}
                             </span>-->
                            <span editable-select="slot.day"
                                  e-form="rowform"
                                  e-name="day"
                                  e-ng-options="day for day in days">
                                {{ slot.day}}
                            </span>
                        </td>
                        <td>
                                                <span editable-bstime="slot.open"
                                                      e-class="timepicker timepicker-24"
                                                      e-name="open"
                                                      e-ng-model="slot.open"
                                                      e-hour-step="1"
                                                      e-minute-step="1"
                                                      e-show-meridian="false"
                                                      e-form="rowform">
                                                    {{(slot.open | date :'HH:mm') || 'empty' }}
                                                </span>

                        </td>

                        <td>
                            <span editable-bstime="slot.close"
                                  e-class="timepicker timepicker-24"
                                  e-name="close"
                                  e-ng-model="slot.close"
                                  e-hour-step="1"
                                  e-minute-step="1"
                                  e-show-meridian="false"
                                  e-form="rowform">
                                                    {{(slot.close | date :'HH:mm') || 'empty' }}
                                                </span>
                        </td>
                        <td>
                            <form editable-form
                                  name="rowform"
                                  onbeforesave="saveTimeSlot($data,slot.id)"
                                  ng-show="rowform.$visible"
                                  class="form-buttons form-inline"
                                  shown="inserted == slot">

                                <!--Save Button-->
                                <button type="submit" class="btn btn-circle btn-icon-only btn-default"
                                        ng-click="rowform.$show()">
                                    <i class="fa fa-save"></i>
                                </button>
                                <!--Cancel Button-->
                                <button type="button" class="btn btn-circle btn-icon-only btn-default"
                                        ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()">
                                    <i class="fa fa-close"></i>
                                </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;"
                                   ng-click="rowform.$show()">
                                    <i class="icon-pencil"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;"
                                   ng-click="removeTimeSlot($index,slot.id)">
                                    <i class="icon-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
                <button class="btn green" ng-click="dayTimings()">Add New Timeslot</button>

            </div>
            <!--TIMINGS TAB-->

        </div>
    </div>
</div>

