<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="rest.main">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Unauthorized</span>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12 page-500">
        <div class=" number font-red"> 401 </div>
        <div class=" details">
            <h3> Authorization Error </h3>
            <p>
                You tried to view an unauthorized resource.
            </p>

        </div>
    </div>
</div>