<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="rest.main">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Server Error</span>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12 page-500">
        <div class=" number font-red"> 500 </div>
        <div class=" details">
            <h3>Oops! Something went wrong.</h3>
            <p>
                We are fixing it! Please come back in a while.
            </p>

        </div>
    </div>
</div>