<!-- BEGIN HEADER -->
<div data-ng-include="'templates/admin/header/header.html'"
     data-ng-controller="AdminHeaderController"
     class="page-header navbar navbar-fixed-top">
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div data-ng-include="'templates/admin/sidebar.html'"
         data-ng-controller="SidebarController"
         class="page-sidebar-wrapper">
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN ACTUAL CONTENT -->
            <div ui-view></div>
            <!-- END ACTUAL CONTENT -->
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->