

<ng-map center="41,-87" zoom="3" id="mymap"></ng-map>

<map center="[40.74, -74.18]">
    <marker position="[40.74, -74.18]" on-click="myfunc()"></marker>
</map>
<map center="the cn tower">
    <marker position="the cn tower" on-click="myfunc()"></marker>
</map>

<ng-map>
    <marker centered="true" position="current-location" draggable="true" on-dragend="getCurrentLocation()"></marker>
</ng-map>