<!-- BEGIN PAGE BREADCRUMBS-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="rest.main">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Notifications</span>
        </li>
    </ul>
</div>
<!-- END PAGE BREADCRUMBS-->

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    Notifications
    <small></small>
</h3>

<ul class="feeds list-items">
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-info">
                        <i class="fa fa-check"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> You have 4 pending tasks.
                        <span class="label label-sm label-warning "> Take action
                            <i class="fa fa-share"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> Just now </div>
        </div>
    </li>
    <li>
        <a href="javascript:;">
            <div class="col1">
                <div class="cont">
                    <div class="cont-col1">
                        <div class="label label-sm label-danger">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                    </div>
                    <div class="cont-col2">
                        <div class="desc"> Finance Report for year 2013 has been released. </div>
                    </div>
                </div>
            </div>
            <div class="col2">
                <div class="date"> 20 mins </div>
            </div>
        </a>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-default">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> You have 5 pending membership that requires a quick review. </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> 24 mins </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-info">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> New order received with
                        <span class="label label-sm label-success"> Reference Number: DR23923 </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> 30 mins </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-success">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> You have 5 pending membership that requires a quick review. </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> 24 mins </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-warning">
                        <i class="fa fa-bell-o"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> Web server hardware needs to be upgraded.
                        <span class="label label-sm label-default "> Overdue </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> 2 hours </div>
        </div>
    </li>
    <li>
        <a href="javascript:;">
            <div class="col1">
                <div class="cont">
                    <div class="cont-col1">
                        <div class="label label-sm label-info">
                            <i class="fa fa-briefcase"></i>
                        </div>
                    </div>
                    <div class="cont-col2">
                        <div class="desc"> IPO Report for year 2013 has been released. </div>
                    </div>
                </div>
            </div>
            <div class="col2">
                <div class="date"> 20 mins </div>
            </div>
        </a>
    </li>
</ul>