<div class="page-sidebar navbar-collapse collapse">
    <!-- START SIDEBAR MENU -->
    <ul class="page-sidebar-menu"
        data-keep-expanded="false"
        data-auto-scroll="true"
        data-slide-speed="200">

        <li class="start nav-item" ng-class="{active: $state.includes('admin.main')}">
            <a ui-sref="admin.main">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
                <span ng-if="$state.includes('admin.main')" class="selected"></span>
            </a>
        </li>
        <li class="start nav-item" ng-class="{active: $state.includes('admin.orderHistory')}">
            <a ui-sref="admin.orderHistory">
                <i class="icon-home"></i>
                <span class="title">Order History</span>
                <span ng-if="$state.includes('admin.orderHistory')" class="selected"></span>
            </a>
        </li>

        <!-- RESTAURANT -->
        <li class="nav-item" ng-class="{active: $state.includes('admin.rest')}">
            <a href="javascript:" class="nav-link nav-toggle">
                <i class="icon-book-open"></i>
                <span class="title">Restaurants</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li ng-class="{active: $state.includes('admin.rest.all')}">
                    <a ui-sref="admin.rest.all"> All </a>
                </li>
                <li ng-class="{active: $state.includes('admin.rest.add')}">
                    <a ui-sref="admin.rest.add"> Add New </a>
                </li>
            </ul>
        </li>

        <!--USERS-->
        <li class="start nav-item" ng-class="{active: $state.includes('admin.deliveryboys')}">
            <a ui-sref="admin.deliveryboys">
                <i class="icon-home"></i>
                <span class="title">Delivery boys</span>
                <span ng-if="$state.includes('admin.deliveryboys')" class="selected"></span>
            </a>
        </li>


    </ul>
    <!-- END SIDEBAR MENU -->
</div>