<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
           <!-- <i class="icon-settings font-dark"></i>-->
            <span class="caption-subject font-dark sbold uppercase">Personal Information</span>
        </div>
    </div>

    <div class="portlet-body form">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Name</label>
                    <div class="col-md-9">
                        <input type="text" ng-model="loggedInUser.name" class="form-control input-inline input-medium" placeholder="Enter text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Email</label>
                    <div class="col-md-9">
                        <div class="input-inline input-medium">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input type="email" ng-model="loggedInUser.email" class="form-control" placeholder="Email Address"> </div>
                        </div><!--
                        <span class="help-inline"> Inline help. </span>-->
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Mobile</label>
                    <div class="col-md-9">
                        <div class="input-inline input-medium">
                            <div class="input-group">
                                <input type="text" ng-model="loggedInUser.mobile" class="form-control" placeholder="Contact number"> </div>
                        </div><!--
                        <span class="help-inline"> Inline help. </span>-->
                    </div>
                </div>

            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn green">Submit</button>
                        <button type="button" class="btn default">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>