<!-- BEGIN PAGE SPINNER -->
<div data-ng-if="show" class="spinner-modal">
    <div class="loading-indicator page-spinner-bar loading-indicator">
   <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
        <!--<img class="loading-indicator" style="width: 10%" src="images/icons/ajax-loading.svg"/>-->
     <div ng-transclude></div>
</div>
</div>
<!-- END PAGE SPINNER -->