 <!-- BEGIN : LOGIN PAGE 5-2 -->
<div class="user-login-5">
    <div class="row bs-reset">
        <div class="col-md-6 login-container bs-reset">
            <img class="login-logo login-6" src="images/login/logo.png" />
            <div class="login-content">
                <h1>Steamy</h1>
                <p> Dashboard login </p>
                <form name="loginform" data-ng-if="showLoginForm" ng-submit="loginform.$valid && signin(user)" class="login-form">
                    <div class="row" ng-if="signinErrorMsg">
                        <div class="col-xs-12">
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Error!</strong> {{signinErrorMsg}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" ng-model="user.mobile" required/> </div>
                        <div class="col-xs-6">
                            <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" ng-model="user.password" required ng-keyup="$event.keyCode == 13 && signin(user)"/> </div>
                    </div>
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        <span>Enter any username and password. </span>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <div class="forgot-password">
                                <a data-ng-click="forgotPasswordBtnClicked()" id="forget-password" class="forget-password">Forgot Password?</a>
                            </div>
                            <button class="btn blue" type="submit"> Sign In </button>
                        </div>
                    </div>
                </form>
                <!-- BEGIN FORGOT PASSWORD FORM -->
                <form class="forget-form" data-ng-if="showForgotPasswordForm">
                    <h3 class="font-green">Forgot Password ?</h3>
                    <p> Enter your e-mail address below to reset your password. </p>
                    <div class="form-group">
                        <input ng-model="recoveryEmail" class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" /> </div>
                    <div class="form-actions">
                        <button type="button" id="back-btn" data-ng-click="backBtnClicked()" class="btn grey btn-default">Back</button>
                        <button type="button" data-ng-click="recoverPassword(recoveryEmail)" class="btn blue btn-success uppercase pull-right">Submit</button>
                    </div>
                </form>
                <!-- END FORGOT PASSWORD FORM -->
            </div>
            <div class="login-footer">
                <div class="row bs-reset">
                    <div class="col-xs-4 bs-reset">
                        <ul class="login-social">
                            <li>
                                <a ng-href="https://facebook.com/{{ facebook_id }}">
                                    <i class="icon-social-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a ng-href="https://twitter.com/{{ twitter_id }}">
                                    <i class="icon-social-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a ng-href="{{ website }}">
                                    <i class="icon-globe"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-8 bs-reset">
                        <div class="login-copyright text-right">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 bs-reset">
            <div class="login-bg backstretch" backstretch backstretch-images="images" backstretch-duration="5000" backstretch-fade="1">
            </div>
        </div>
    </div>
</div>
<!-- END : LOGIN PAGE 5-2 -->