<div class="login">
<div class="content">
<form class="login-form" novalidate="novalidate" style="display: block;">
            <h3 class="form-title font-green">Sign In</h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span> Enter any username and password. </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9"> Email </label>
                <input class="form-control form-control-solid placeholder-no-fix" data-ng-model="muser.email" type="email" autocomplete="off"
                       placeholder="Email" name="email"></div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"> Role </label>
                <select class="form-control" data-ng-model="muser.role">
                    <option value="rest_admin"> Restaurant Admin </option>
                    <option value="appx_admin"> Mojojo Admin</option>
                </select>
            </div>
             <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"> Scope </label>
                <input class="form-control form-control-solid placeholder-no-fix" data-ng-model="muser.scope" type="number" min="0" autocomplete="off"
                       placeholder="Scope" name="scope">
            </div>
                <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"> Password </label>
                <input class="form-control form-control-solid placeholder-no-fix" data-ng-model="muser.password" type="password" autocomplete="off"
                       placeholder="Password" name="password">
            </div>
            <div class="form-actions">
                <button type="button" ng-click="mLogin(muser)" class="btn green uppercase">Login</button>
            </div>
        </form>
</div>
</div>

