<div class="portlet box green" style="margin-bottom: 0;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-comments"></i> Assign Table </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th> Id </th>
                    <th> Number </th>
                    <th> Description </th>
                    <th> Capacity </th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="_table in tables">
                    <td> {{_table.id}} </td>
                    <td> {{_table.number}}</td>
                    <td> {{_table.description}} </td>
                    <td> {{_table.capacity}} </td>
                    <td data-ng-click="ok(_table)">
                        <button type="button" class="btn green btn-outline">Select</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>