<div class="portlet box green" style="margin-bottom: 0;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-comments"></i> Assign waiter </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th> Id </th>
                    <th> Name </th>
                    <th> Nickname </th>
                    <th> Orders Assigned </th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="_item in item">
                        <td> {{_item.id}} </td>
                        <td> {{_item.firstName}} {{_item.lastName}} </td>
                        <td> <span data-ng-if="_item.nickName">({{_item.nickName}})</span> </td>
                        <td> {{_item.order_assigned}} </td>
                        <td data-ng-click="ok(_item)">
                            <button type="button" class="btn green btn-outline">Select</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>