<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    Order Details
    <span class="actions pull-right margin-right-10">
        <span class="btn-group">
            <a class="btn green" ui-sref="admin.orderDetails">
                        <i class="fa fa-eye"></i> View All Orders</a>
        </span>
    </span>

</h3>
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-md-12">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-4">
                    <div class="btn-group" data-ng-if="orderDetails.status<7">
                        <a data-ng-click="cancelOrder(selectedOrderId)" class="btn red">
                            Cancel this order
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                </div>
            </div>
        </div>
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> Order details
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-2 odrtxt"> Order ID: </div>
                    <div class="col-md-4 odrtxt"> {{selectedOrderId}} </div>
                    <div class="col-md-2 odrtxt"> Date & Time: </div>
                    <div class="col-md-4 odrtxt"> {{orderDetails.created_at.date | dateTimeFormat}} </div>
                </div>
                <div class="row">
                    <div class="col-md-2 odrtxt"> Customer Name : </div>
                    <div class="col-md-4 odrtxt"> {{orderDetails.customer_name}} </div>
                    <div class="col-md-2 odrtxt"> Status: </div>
                    <div class="col-md-4 odrtxt"> {{orderDetails.status_text}} </div>
                </div>
                <div class="row">
                    <div class="col-md-2 odrtxt"> Grand Total: </div>
                    <div class="col-md-4 odrtxt"> {{orderDetails.subtotal}} + Tax </div>
                    <div class="col-md-2 odrtxt"> Table No: </div>
                    <div class="col-md-4 odrtxt"> {{orderDetails.table_no}}
                        <a class="bold" data-ng-if="!paymentDone" data-ng-click="assignTable(orderDetails.order_id)">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 odrtxt"> Order Type: </div>
                    <div class="col-md-4 odrtxt"> {{orderDetails.order_type}} </div>
                    <div class="col-md-2 odrtxt"> Waiter: </div>
                    <div class="col-md-4 odrtxt"> {{waiterName}}
                        <a class="bold" data-ng-if="!paymentDone" data-ng-click="assignWaiter(orderDetails.order_id)">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--ORDER ITEMS BEGINS-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <span class="caption-subject bold uppercase">Items</span>
                </div>
            </div>
            <div class="portlet-body">
                <form name="itemForm" data-ng-if="orderDetails.status<5" data-ng-submit="addOrderItem(selectedOrderId,newItemInOrder,itemForm)" novalidate>
                    <div class="row margin-bottom-20">
                        <div class="col-md-6">
                            <ui-select ng-model="newItemInOrder.item_number"  ng-class="{ 'has-error': itemSelectError }">
                                <ui-select-match placeholder="Please select..">{{newItemInOrder.item_number.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in allItems | filter: $select.search">
                                    <span ng-bind-html="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                            <p class="inline-error" ng-if="itemSelectError">Please select an item</p>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <input type="number" name="itemQty" class="form-control"  ng-class="{ 'has-error': itemQuantityError }" min="1" max="50" ng-model="newItemInOrder.quantity"
                                       placeholder="Quantity">
                                <p class="inline-error" ng-if="itemQuantityError">Please enter valid quantity</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="submit"
                                    class="btn green">Add Item
                            </button>
                        </div>
                    </div>
                </form>

                <!--ITEM LISTING BEGINS-->
                <!--div data-ng-if="!selectedOrderItem">No Items ordered yet</div-->
                <div class="table-scrollable">  <!--data-ng-if="selectedOrderItem"-->
                    <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th class="hidden-xs">Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="orderItem in selectedOrderItem"
                            ng-class="{'danger' : orderItem.status === 1}">
                            <td class="highlight">
                                <div class="success"></div>
                                <span style="margin-left: 5px;color: #337ab7">
                                    {{orderItem.name}}
                                </span>
                            </td>
                            <td>
                                <span e-form="rowform" style="margin-left: 5px;color: #337ab7" data-ng-if="orderItem.status === 1 || rowform.$visible" ng-model="orderItem.qty"
                                      editable-number="orderItem.qty" e-min="1" onbeforesave="validateQty($data)" onaftersave="updateQty($data,orderItem.id,orderItem.qty,orderItem)"
                                      e-max="50">{{ orderItem.qty || orderItem.updatedQty}}</span>
                                <span style="margin-left: 5px;color: #337ab7" data-ng-if="orderItem.status !== 1 && !rowform.$visible">{{ orderItem.qty || 'empty'
                                    }}</span>
                            </td>
                            <td>
                                {{orderItem.price}}
                            </td>
                            <td>
                                {{orderItem.itemSubtotal}}
                            </td>
                            <td>
                                <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
                                      shown="inserted !== user">
                                    <button type="submit" ng-disabled="rowform.$waiting" class="btn default btn-xs green">
                                        <i class="fa fa-save"></i> Save
                                    </button>
                                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn default btn-xs white">
                                        <i class="fa fa-remove"></i> Cancel
                                    </button>
                                </form>
                                <div class="buttons" ng-show="!rowform.$visible">
                                    <button ng-click="rowform.$show()"
                                            class="btn default btn-xs purple"
                                            ng-disabled="orderDetails.status>=5">
                                        <i class="fa fa-edit"></i> Edit
                                    </button>
                                    <button ng-click="deleteOrderItem(selectedOrderId, orderItem.id)"
                                            class="btn default btn-xs red"
                                            ng-disabled="orderDetails.status>=5">
                                        <i class="fa fa-remove"></i> Remove
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--ITEM LISTING ENDS-->

                <!--CANCEL/CONFIRM ORDER/GENERATE BILL BEGINS-->
                <div class="row">
                    <div class="col-md-12">
                        <div ng-show="orderDetails.status==2||orderDetails.status == 3">
                            <form role="form" name="itemForm" class="form-horizontal ng-pristine ng-valid ng-valid-min"
                                  style="">
                                <div class="form-body">
                                    <div class="form-group has-info">
                                        <label class="col-md-2 control-label">Preparation remarks</label>
                                        <div class="col-md-5">
                                            <div class="input-icon right">

                                                <input class="form-control" type="text" ng-maxlength="100"
                                                       ng-model="preparationDesc"/>
                                                <div class="form-control-focus">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="actions pull-right">
                                <button type="submit" class="btn green"
                                        data-ng-click="confirmAllItems(selectedOrderId)"><i
                                        class="fa fa-check"></i> Confirm
                                </button>
                                <button type="button" class="btn default"
                                        data-ng-click="cancelAllItems(selectedOrderId)">
                                    Cancel
                                </button>
                            </div>
                        </div>

                        <div class="actions pull-right" ng-show="orderDetails.status==4">
                            <button type="submit" class="btn green" data-ng-click="generateBill(selectedOrderId)"><i
                                    class="fa fa-check"></i> Generate Bill
                            </button>
                        </div>
                    </div>
                </div>
                <!--CANCEL/CONFIRM ORDER/GENERATE BILL BEGINS-->

            </div>
        </div>
        <!--ORDER ITEMS ENDS-->

        <!-- BILLING SECTION BEGINS -->
        <div class="portlet light bordered" ng-show="orderDetails.status>=5">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <span class="caption-subject bold uppercase">BILLING</span>
                </div>
            </div>
            <div class="portlet-body">
                <div data-ng-if="orderDetails.status==5|| orderDetails.status==6" class="row margin-bottom-20">
                    <form ng-submit="cashPay(payment)">
                        <div class="col-md-4">
                            <select name="pay_mode" id="pay_mode" class="form-control"
                                    ng-init="payment.pay_mode = paymentTypes[0].pay_mode"
                                    ng-model="payment.pay_mode"
                                    ng-options="payment.pay_mode as payment.pay_mode for payment in paymentTypes">
                            </select>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="payment.ref_nr"
                                   placeholder="reference no.">
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" data-ng-disabled="true" ng-model="payment.amount"
                                   placeholder="{{orderDetails.bill.payable}}">
                        </div>
                        <div class="col-md-2">
                            <button data-ng-if="!paymentDone" type="submit" class="btn green">Submit</button>
                        </div>
                    </form>
                </div>

                <!--PAYMENT DETAILS BEGINS-->
                <div class="row">
                    <div class="col-md-2 odrtxt"> Bill No.:</div>
                    <div class="col-md-4 odrtxt"> {{orderDetails.bill.refno}} </div>
                    <div class="col-md-2 odrtxt"> Date & Time: </div>
                    <div class="col-md-4 odrtxt"> {{orderDetails.created_at.date | dateTimeFormat}} </div>
                </div>
                <div class="row">
                    <div class="col-md-2 odrtxt"> Bill ID: </div>
                    <div class="col-md-4 odrtxt"> {{orderDetails.bill.id}} </div>
                    <div class="col-md-2 odrtxt"> Payment Type: </div>
                    <div class="col-md-4 odrtxt"> {{orderDetails.bill.pay_mode}} </div>
                </div>
                <div class="row">
                    <div class="col-md-2 odrtxt"> Tax: </div>
                    <div class="col-md-4 odrtxt"> Rs {{orderDetails.bill.tax}} </div>
                    <div class="col-md-2 odrtxt"> PAYABLE: </div>
                    <div class="col-md-4 odrtxt"> Rs. {{orderDetails.bill.payable}} </div>
                </div>
                <div class="row">
                    <div class="col-md-2 odrtxt"> Subtotal: </div>
                    <div class="col-md-4 odrtxt"> Rs. {{orderDetails.bill.subtotal}} </div>
                    <div class="col-md-2 odrtxt"> OVERALL STATUS: </div>
                    <div class="col-md-4 odrtxt"> {{orderDetails.status}} </div>
                </div>
                <!--PAYMENT DETAILS ENDS-->
                <div class="row">
                    <div class="col-md-12">
                        <!--PRINT ORDER BEGINS-->
                        <div class="actions pull-right" style="margin-top: -30px;" data-ng-if="paymentDone">
                            <button type="submit" class="btn green" data-ng-click="printBill(selectedOrderId)">
                                <i class="fa fa-check"></i> Print Bill
                            </button>
                        </div>
                        <!--PRINT ORDER ENDS-->
                    </div>
                </div>
            </div>
        </div>
        <!-- BILLING SECTION ENDS -->
    </div>
</div>

