<!--PAGE TITLE BEGIN-->
<h3 class="page-title">
    <span class="page-title-heading">Order history</span>
</h3>
<!--PAGE TITLE END-->
<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet light">
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <button id="sample_editable_1_new" ui-sref="admin.main" class="btn green">
                            <i class="fa fa-plus"></i> Add new order
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <button class="btn green pull-left" data-ng-click="$state.reload();">
                        <i class="fa fa-refresh"></i> Reload orders
                    </button>
                    <div class="btn-group pull-right">
                        <button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Tools <i
                                class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;">
                                    Print </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    Save as PDF </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    Export to Excel </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th style="width:25%">Date range</th>
                <th>Search by</th>
                <th data-ng-if="searchOrderBy !== searchBy.search_by">Search term</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="width:25%">
                    <input date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date"
                           options="options"/>
                </td>

                <td rowspan="1" colspan="1">
                    <select name="serach_by" id="serach_by" class="form-control"
                            ng-model="searchOrderBy"
                            ng-options="key as value for (key , value) in searchBy">
                    </select>
                </td>

                <td data-ng-show="searchOrderBy !== searchBy.search_by">
                    <input title="search value" class="form-control" type="text" ng-model="search_value"/>
                </td>
                <td>
                    <button class="btn green pull-left" data-ng-click="filterOrderHistory(datePicker.date,1)">
                        <i class="fa fa-search"></i> Search
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="table-scrollable">
            <form role="form">
                <table class="table table-bordered table-responsive table-striped table-hover ">
                    <thead>
                    <tr class="heading">
                        <th> Id </th>
                        <th> Customer Name </th>
                        <th> Table </th>
                        <th> Type </th>
                        <th> Created at</th>
                        <th> Status </th>
                        <th> Action </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="row_{{$index}}" dir-paginate="order in historyOrders |  itemsPerPage: historyOrdersPerPage"
                        total-items="totalhistoryOrders" current-page="pagination.current">
                        <td>
                            {{order.order_id}}
                        </td>
                        <td>
                            {{order.customer_name}}
                        </td>
                        <td>
                            {{order.table_id}}
                        </td>

                         <td>
                            {{order.order_type}}
                        </td>

                        <td>
                            {{order.created_at | date:'medium'}}
                        </td>
                        <td>
                            {{order.status_text}}
                        </td>
                        <td class="row">
                            <a ui-sref="admin.orderDetails({orderId : order.order_id})"
                               class="btn default btn-xs purple">
                                <i class="fa fa-eye"></i> View
                            </a>

                        </td>
                    </tr>
                    </tbody>
                </table>

                <!-- BEGIN Paginator -->
                <dir-pagination-controls
                        on-page-change="pageChanged(newPageNumber,'history',datePicker.date)"></dir-pagination-controls>
                <!-- END Paginator -->
            </form>
        </div>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
