<!-- BEGIN PAGE BREADCRUMBS-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="rest.main">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Orders</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Live</span>
        </li>
    </ul>
</div>
<!-- END PAGE BREADCRUMBS-->


<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    Live Orders
    <small></small>
</h3>
<!-- END PAGE HEADER-->


<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet box">
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <a ui-sref="rest.main" class="btn green">
                            <i class="fa fa-plus"></i> Add new order
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btn-group pull-right">
                        <button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Tools <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:">
                                    Export to Excel </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div loading show="loading"></div>
        <div class="table-scrollable" data-ng-if="!loading">
            <form role="form" ng-submit="search(searchOrder)">
                <table class="table table-bordered table-responsive table-striped table-hover ">
                    <thead>
                        <tr class="heading">
                            <th> Id </th>
                            <th> Customer Name </th>
                            <th> Table </th>
                            <th> Type </th>
                            <th> Price </th>
                            <th> Waiter </th>
                            <th> Status </th>
                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id = "row_{{$index}}" dir-paginate="order in orders |  itemsPerPage: ordersPerPage"
                            total-items="totalOrders" current-page="pagination.current">
                            <td> {{order.order_id}} </td>
                            <td> {{order.customer_name}} </td>
                            <td> {{order.table_nr}} </td>
                            <td> {{order.order_type}} </td>
                            <td> {{order.price}} </td>
                            <td> {{order.waiter.firstName}}&nbsp;{{order.waiter.lastName}} </td>
                            <td> {{order.status_text}} </td>
                            <td>
                                <a ui-sref="admin.orderDetails({orderId : order.order_id})" class="btn default btn-xs purple">
                                    <i class="fa fa-eye"></i> View
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- BEGIN Paginator -->
                <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                <!-- END Paginator -->
            </form>
        </div>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
