<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-green-haze">
            <i class="icon-settings font-green-haze"></i>
            <span class="caption-subject bold uppercase">Add delivery boy</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <button id="sample_editable_1_new" class="btn green">
                            Add New <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btn-group pull-right">
                        <button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Tools <i
                                class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;">
                                    Print </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    Save as PDF </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    Export to Excel </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane active">
            <form role="form">
                <div class="form-group">
                    <label class="control-label">First Name</label>
                    <input type="text" placeholder="John" data-ng-model="addDeliveryBoyDetails.first_name"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <input type="text" placeholder="Doe" data-ng-model="addDeliveryBoyDetails.last_name"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Mobile Number</label>
                    <input type="text" placeholder="8867861672" data-ng-model="addDeliveryBoyDetails.name"
                           class="form-control"/>
                </div>


                <div class="form-group">
                    <label class="control-label">Image</label>

                    <div data-ng-if="!showPlaceHolder">
                        <div ng-jcrop="obj.src" selection="obj.coords" thumbnail="obj.thumbnail"></div>
                    </div>
                    <div data-ng-if="showPlaceHolder">
                        <img data-ng-src="{{deliveryBoyImage}}" height="200" width="auto"/>
                    </div>
                </div>


                <div class="form-group">
                    <input type="file" ng-jcrop-input nv-file-select="" uploader="uploader"/>

                    <button type="button" class="btn btn-success btn-s"
                            ng-click="uploadCroppedFiles()"
                            >
                        <span class="glyphicon glyphicon-upload"></span>
                    </button>
                </div>

                <div class="margiv-top-10">
                    <a data-ng-click="addDeliveryBoy(addDeliveryBoyDetails)" class="btn green-haze">
                        Save Changes </a>
                    <a href="#" class="btn default">
                        Cancel </a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- END SAMPLE FORM PORTLET-->

