<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    Delivery Boys
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet box">
    <div class="portlet-title">
    </div>
    <div class="portlet-body">
        <div class="row margin-bottom-20">
            <div class="col-md-6">
                <div class="btn-group">
                    <button id="sample_editable_1_new" data-ng-click="goToAddDeliveryBoyView()"
                            class="btn green">
                        <i class="fa fa-plus"></i>Add Delivery boy
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="btn-group pull-right">
                    <button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Tools <i
                            class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:;">
                                Print </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                Save as PDF </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                Export to Excel </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
       <!-- <div data-collapse="!showAddDeliveryBoyForm">
            <form role="form" class="form-horizontal">
                <div class="form-body">
                    <div class="form-group form-md-line-input has-info">
                        <label class="col-md-3 control-label" for="delivery_boy_name">Delivery boy name</label>

                        <div class="col-md-5">
                            <div class="input-icon right">
                                <input type="text" ng-model="deliveryBoyDetails.name" placeholder="Delivery boy name"
                                       class="form-control" name="delivery_boy_name" id="delivery_boy_name">

                                <div class="form-control-focus">
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input has-info">
                        <label class="col-md-3 control-label" for="category_description">Contact number</label>

                        <div class="col-md-5">
                            <div class="input-icon right">
                                <input type="text" ng-model="deliveryBoyDetails.description" class="form-control"
                                       placeholder="Item description"
                                       name="category_description" id="category_description">

                                <div class="form-control-focus">
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input has-info">
                        <label class="col-md-3 control-label" for="category_description">Address</label>

                        <div class="col-md-5">
                            <div class="input-icon right">
                                <input type="text" ng-model="deliveryBoyDetails.address" class="form-control"
                                       placeholder="Delivery boy address"
                                       name="category_status" id="status">

                                <div class="form-control-focus">
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="form-group last">
                        <label class="control-label col-md-3">Image</label>

                        <div class="col-md-9">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt=""/>
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail"
                                     style="max-width: 200px; max-height: 150px;">
                                </div>
                                <div>
										<span class="btn default btn-file">
										<span class="fileinput-new">
										Select image </span>
										<span class="fileinput-exists">
										Change </span>
										<input type="file" name="...">
										</span>
                                    <a href="#" class="btn red fileinput-exists" data-dismiss="fileinput">
                                        Remove </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-actions margin-top-10">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-5">
                            <button type="button" class="btn default"
                                    data-ng-click="showAddDeliveryBoyForm = !showAddDeliveryBoyForm">Cancel
                            </button>
                            <button type="button" class="btn blue" data-ng-click="addDeliveryBoy(deliveryBoyDetails)">
                                Confirm
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>-->
        <div data-collapse="showAddDeliveryBoyForm">
            <table class="table table-bordered table-responsive table-striped table-hover ">
                <thead>
                <tr class="heading">
                    <th>ID</th>
                    <th>Name</th>
                    <th>DeviceId</th>
                    <th>Description</th>
                    <th>Email</th>
                    <th>Mobile number</th>
                    <th>Picture</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr id="row_{{$index}}" ng-repeat="deliveryBoy in deliveryBoys">
                    <td>
                        {{deliveryBoy.id}}
                    </td>
                    <td>
                        {{deliveryBoy.name}}
                    </td>
                    <td>
                        {{deliveryBoy.deviceId}}
                    </td>
                    <td>
                        {{deliveryBoy.description}}
                    </td>
                    <td>
                        {{deliveryBoy.email}}
                    </td>
                    <td>
                        {{deliveryBoy.mobile}}
                    </td>
                    <td>
                        {{deliveryBoy.avatar}}
                    </td>
                    <td>
                        {{deliveryBoy.status}}
                    </td>
                    <td class="row">
                        <!--<a class="glyphicon glyphicon-pencil red col-sm-1" title="edit" data-toggle="modal" data-target="#myModal"></a>-->
                        <a href="javascript:;" data-ng-click="viewDeliveryBoy(deliveryBoy.id)"
                           class="btn default btn-xs purple">
                            <i class="fa fa-search"></i>View</a>
                        <!--<a class="glyphicon glyphicon-trash red col-sm-2" title="delete" ng-click="removeUser(studyId,user)"></a>-->
                        <a href="javascript:;" class="btn default btn-xs black">
                            <i class="fa fa-trash-o"></i> Delete </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
