<!--<div loading show="loading"></div>-->
<div class="profile-content fade-in-up">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
    </ui-gmap-google-map>

    <!--  <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
          <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
          </ui-gmap-marker>
      </ui-gmap-google-map>-->
</div>