<div class="table-scrollable">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Table No.</th>
                <th>Price</th>
                <th>Status</th>
                <th>Open</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>makr124</td>
            <td><span class="label label-sm label-success">Approved </span></td>
        </tr>
        </tbody>
    </table>
</div>