<!--PAGE TITLE BEGIN-->
<h3 class="page-title">
    Add Restaurant
        <span class="actions pull-right margin-right-10 btn">
                    <a class="btn green font-open-sans" ui-sref="admin.rest.all">
                        <i class="fa fa-eye"></i> View all Restaurants</a>
        </span>
</h3>
<!--PAGE TITLE END-->
<div class="portlet light bordered">

    <div class="portlet-body form">

        <!-- BEGIN FORM-->
        <form class="form-horizontal" id="addNewEntityForm" role="form" name="userForm" ng-submit="addNewRest(rest)">
            <div class="form-body">

                <div class="form-group">
                    <label class="col-md-3 control-label">Name</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="name" placeholder="Restaurant Name" ng-model="rest.engName">
                    </div>
                    <div class="col-md-4">
                        <button type="button"  data-ng-if="!showPashtoNameField" ng-click="addInPashto()" class="btn dark btn-outline">
                            <i class="fa fa-plus-circle red" aria-hidden="true"></i><span> Add in pashto</span>
                        </button>
                        <button type="button"  data-ng-if="!showPersianNameField" ng-click="addInPersian()" class="btn dark btn-outline">
                            <i class="fa fa-plus-circle red"aria-hidden="true"></i><span> Add in persian</span>
                        </button>
                    </div>
                </div>

                <div class="form-group" data-ng-if="showPashtoNameField">
                    <label class="col-md-3 control-label">Name(Pashto)</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control rtl-input" name="name" placeholder="Restaurant Name in pashto" ng-model="rest.pashtoName">
                    </div>
                </div>

                <div class="form-group" data-ng-if="showPersianNameField">
                    <label class="col-md-3 control-label">Name(Persian)</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control rtl-input" name="name" placeholder="Restaurant Name in persian" ng-model="rest.persianName">
                    </div>
                </div>

                <!--<div class="form-group">-->
                    <!--<label class="col-md-3 control-label">Username</label>-->
                    <!--<div class="col-md-7">-->
                        <!--<input type="text" class="form-control" name="name" placeholder="Username Name" ng-model="rest.username">-->
                    <!--</div>-->
                <!--</div>-->

                <div class="form-group">
                    <label class="col-md-3 control-label">Restaurant type</label>
                    <div class="col-md-7">
                        <select name="restautant_type" id="restautant_type" class="form-control"
                                ng-init="rest.typeid = restaurantTypes[0].restaurant_type_id"
                                ng-model="rest.typeid"
                                ng-options="restaurantTypes.restaurant_type_id as restaurantTypes.name for restaurantTypes in restaurantTypes">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Location</label>
                    <div class="col-md-7">
                        <select name="location" id="location" class="form-control"
                                ng-init="rest.locid = restaurantLocations[0].id"
                                ng-model="rest.locid"
                                ng-options="restaurantLocations.id  as restaurantLocations.name for restaurantLocations in restaurantLocations">
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Address </label>
                <div class="col-md-7">
                    <textarea class="form-control" name="add_line_1" placeholder="Address" ng-model="rest.addline1"></textarea>
                </div>
                <label class="col-md-12 control-label">
                    <h5 class="text-center bold">OR</h5>
                    <h5 class="text-center bold">locate address on map</h5>
                </label>
                <label class="col-md-3 control-label">Start typing a place</label>
                <div class="col-md-7 align-center">
                    <input places-auto-complete on-place-changed="setMarker(place)" placeholder="Start typing a place..." class="form-control"/>
                </div>
            </div>

            <!-- END OF FORM-BODY-->
            <div class="form-group">
            <!--<ng-map></ng-map>-->
            </div>
            <ng-map>
                <marker centered="true" draggable="true" position="current-position"
                        on-dragend="getCurrentLocation(event,rest)"></marker>
            </ng-map>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-7">
                        <button type="submit" class="btn green">Submit</button>
                        <button data-ng-click="resetAddRest(rest)" type="button" class="btn default">Cancel</button>
                    </div>
                </div>
            </div>

        </form>
        <!-- END FORM-->

        <div data-ng-if="showRestaurantAdded" ng-class="{'alert-success' : !inError,'alert-danger' : inError}" class="alert alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            <strong data-ng-if="inError">Sorry!!</strong> <strong data-ng-if="!inError">Success!</strong> {{restaurantAddedMsg}}
        </div>
    </div>

</div>
<div loading show="loading"></div>
