<!--PAGE TITLE BEGIN-->
<h3 class="page-title">
    <span class="page-title-heading">Restaurant Listing</span>
    <small></small>
    <span class="btn pull-right font-open-sans margin-right-10">
        <a ui-sref="admin.rest.add" class="btn green">
           <i class="fa fa-plus"></i> Add Restaurant
        </a>
    </span>
</h3>
<!--PAGE TITLE END-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light">

            <div loading show="loading"></div>
            <div class="portlet-body" data-ng-if="!loading">
                <div class="table-container">
                    <table class="table table-striped table-bordered table-hover" id="datatable_ajax">
                        <thead>
                            <tr role="row" class="heading">
                                <th class="text-center"> ID </th>
                                <th class="text-center"> Name </th>
                                <th class="text-center"> Address </th>
                                <!--<th class="text-center"> Neighbourhood </th>-->
                                <!--<th class="text-center"> Landmark </th>-->
                                <th class="text-center"> Status </th>
                                <th class="text-center"> Actions </th>
                                <!--<th width="10%">-->
                                <!--Status-->
                                <!--</th>-->
                                <!--<th width="10%">-->
                                <!--Actions-->
                                <!--</th>-->
                            </tr>
                            <tr role="row" class="filter">
                                <td>
                                    <input type="text" class="form-control form-filter input-sm" name="order_id" title="order_id"/>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-filter input-sm"  name="order_date_from" placeholder=""/>

                                    <!--<div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
                                        <input type="text" class="form-control form-filter input-sm" readonly name="order_date_from" placeholder="From">
                                            <span class="input-group-btn">
                                            <button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                    </div>
                                    <div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                        <input type="text" class="form-control form-filter input-sm" readonly name="order_date_to" placeholder="To">
                                            <span class="input-group-btn">
                                            <button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                    </div>-->
                                </td>
                                <td>
                                    <input type="text" class="form-control form-filter input-sm" name="order_customer_name" title="order customer name">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-filter input-sm" name="order_ship_to">
                                </td>
                                <!--<td>-->

                                    <!--<input type="text" class="form-control form-filter input-sm" name="order_price_from" placeholder="From"/>-->

                                    <!--&lt;!&ndash;<input type="text" class="form-control form-filter input-sm" name="order_price_to" placeholder="To"/>&ndash;&gt;-->
                                <!--</td>-->
                                <!--<td>-->

                                    <!--<input type="text" class="form-control form-filter input-sm margin-bottom-5 clearfix" name="order_quantity_from" placeholder="From"/>-->

                                    <!--&lt;!&ndash;  <input type="text" class="form-control form-filter input-sm" name="order_quantity_to" placeholder="To"/>&ndash;&gt;-->
                                <!--</td>-->
                                <!--<td>
                                    <select name="order_status" class="form-control form-filter input-sm">
                                        <option value="">Select...</option>
                                        <option value="pending">Pending</option>
                                        <option value="closed">Closed</option>
                                        <option value="hold">On Hold</option>
                                        <option value="fraud">Fraud</option>
                                    </select>
                                </td>-->
                                <td>
                                    <div class="margin-bottom-5">
                                        <button class="btn btn-sm yellow filter-submit margin-bottom"><i class="fa fa-search"></i> Search</button>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                           <!-- <tr    data-ng-repeat="restaurant in restaurants">-->
                            <tr class="odd gradeX" dir-paginate="restaurant in restaurants | itemsPerPage: RestaurantsPerPage"
                                total-items="totalRestaurants" current-page="pagination.current">
                                <td class="text-center">{{restaurant.id}}</td>
                                <td class="text-center">{{restaurant.name}}</td>
                                <td class="text-center">{{restaurant.add_line_1}} {{restaurant.add_line_2}} {{restaurant.add_line_3}}</td>
                                <!--<td class="text-center">{{restaurant.neighbourhood}}</td>-->
                                <!--<td class="text-center">{{restaurant.landmark}}</td>-->
                                <td class="text-center">
                                    <input bs-switch
                                           type="checkbox"
                                           ng-model="restaurant.status"
                                           ng-change="restaurantStatusChange(restaurant)"
                                           switch-size="mini"
                                           ng-true-value="1"
                                           ng-false-value="0">
                                </td>
                                <td class="text-center">
                                    <a ui-sref="admin.rest.profile.overview({restId: {{restaurant.id}}})"  class="btn default btn-xs purple">
                                        <i class="fa fa-eye"></i> View
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- BEGIN Paginator -->
            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
            <!-- END Paginator -->
        </div>
        <!-- End: life time stats -->
    </div>
</div>
<!-- END MAIN CONTENT -->