<h2>{{restaurantDetails.name}}</h2>
<!--PAGE TITLE BEGIN-->
<h3 class="page-title"> Profile
    <small></small>
</h3>
<!--PAGE TITLE END-->


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet">
                <!-- SIDEBAR USERPIC -->
                <div class="entity-userpic">
                    <img src="{{restaurantDetails.cover_url}}" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->

                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        <span>{{ restaurantDetails.name }}</span>
                    </div>
                    <div class="profile-usertitle-job">
                       <span ng-repeat="restaurantType in restaurantDetails.type">
                           {{restaurantType}}
                       </span>

                    </div>


                </div>
                <!-- END SIDEBAR USER TITLE -->

                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li ng-class="{active: $state.includes('rest.profile.overview')}">
                            <a ui-sref="rest.profile.overview">
                                <i class="icon-grid"></i>
                                Overview </a>
                        </li>
                        <li ng-class="{active: $state.includes('rest.profile.edit-basicInfo')}">
                            <a ui-sref="rest.profile.edit-basicInfo">
                                <i class="icon-info"></i>
                                Edit Basic Info </a>
                        </li>
                        <li ng-class="{active: $state.includes('rest.profile.edit-details')}">
                            <a ui-sref="rest.profile.edit-details">
                                <i class="icon-pencil"></i>
                                Amenities </a>
                        </li>
                        <li ng-class="{active: $state.includes('rest.profile.edit-timings')}">
                            <a ui-sref="rest.profile.edit-timings">
                                <i class="icon-clock"></i>
                                Timings </a>
                        </li>
                        <li ng-class="{active: $state.includes('rest.profile.edit-pictures')}">
                            <a ui-sref="rest.profile.edit-pictures">
                                <i class="icon-picture"></i>
                                Upload Pictures </a>
                        </li>
                        <li ng-class="{active: $state.includes('rest.profile.settings')}">
                            <a ui-sref="rest.profile.settings">
                                <i class="icon-settings"></i>
                                Items</a>
                        </li>
                        <li ng-class="{active: $state.includes('rest.profile.settings')}">
                            <a ui-sref="rest.profile.settings">
                                <i class="icon-settings"></i>
                                Categories</a>
                        </li>
                        <li ng-class="{active: $state.includes('rest.profile.settings')}">
                            <a ui-sref="rest.profile.settings">
                                <i class="icon-settings"></i>
                                Taxes</a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
            <!-- END PORTLET MAIN -->
            <!-- PORTLET MAIN -->
            <div class="portlet light">
                <!-- STAT -->
                <div class="row list-separated profile-stat">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title">
                            37
                        </div>
                        <div class="uppercase profile-stat-text">
                            Professional
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title">
                            51
                        </div>
                        <div class="uppercase profile-stat-text">
                            pics
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title">
                            61
                        </div>
                        <div class="uppercase profile-stat-text">
                            views
                        </div>
                    </div>
                </div>
                <!-- END STAT -->
                <div>
                    <h4 class="profile-desc-title">About {{entity.description.name}}</h4>
                    <span class="profile-desc-text"> Lorem ipsum dolor sit amet diam nonummy nibh dolore. </span>
                    <div class="margin-top-20 profile-desc-link">

                    </div>


                </div>
            </div>
            <!-- END PORTLET MAIN -->
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div ui-view class="profile-content">
        </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>
