<!-- NOTE: modal is being added outside of content wrapper, this breaks the layout.  Please target the current wrapper -->

<div class="modal-header">
    <h2 class="modal-title">Are you sure?</h2>
</div>
<div class="modal-body">
    <p>{{message}}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">
        <span aria-hidden="true" class="icon-arrow-r-white"></span>
        <span class="description">Yes please</span>
    </button>
    <button class="btn btn-default" ng-click="cancel()">
        <span aria-hidden="true" class="icon-arrow-l-white"></span>
        <span class="description">No thanks</span>
    </button>
</div>